[2020-01-15 22:23] greenkeeper[bot] opened #2 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2020-01-17 22:48] #2 closed

[2020-01-18 09:32] tbones1 opened #4 "Support for Smart Wi-Fi Garage Door Opener (MSG100)"
I have a Meross Smart Wi-Fi Garage Door Opener. It would be tops if you were able to extend this plug-in to work with it :) I played around with various settings but haven't had much luck. I've dumped out the network traffic that is sent from the iOS app when you trigger an open and close.

**Open Garage Door**
{
	"header": {
		"messageId": "xyz",
		"namespace": "Appliance.GarageDoor.State",
		"tr

[2020-01-18 14:31] donavanbecker commented on #4
You can submit a Pull Request for this and i can merge it.

[2020-01-19 02:47] tbones1 commented on #4
Awesome. Sorry I haven't used GitHub before, should I recreate above under the Pull section?

[2020-01-20 16:46] donavanbecker commented on #4
No, If you are able code this to work with this plugin i can merge it with this plugin so you can use the garage door opener on this plugin. I can't add it myself.

[2020-01-21 12:58] tbones1 commented on #4
Okay cheers, I now understand a bit more about how GitHub works 👍

[2020-01-21 13:28] donavanbecker commented on #4
It’s not that I don’t want to, I just don’t know how too. And don’t have the product to test it

[2020-01-25 07:32] 1987marco1987 opened #5 "Connecting to Meross"
Hi,

i am very new at homebridge.
I have some issues to control my meross wifi plug.

"accessories": [
        {
            "name": "WLAN Steckdose",
            "deviceUrl": "http:// 192.168.0.44", //this is correct
            "hardwareVersion": 2, //where to find?
            "channel": 2, // my wifi plug has 2 sockets, is this here requested?
            "messageId": "xxxxx",// I dont know wh

[2020-01-27 16:34] phillippc opened #6 "Support for MSS210 Plug"
Hey!
i tried to configure my meros mss210 plug,
however it fails to post, i sniffed all the information required, yet no success, has meross closed their API?
Thanks!

[2020-01-27 17:10] donavanbecker commented on #6
not sure. I am just a maintaining this repo. So if alone has a fix feel free to submit a PR

[2020-01-27 18:05] donavanbecker commented on #5
not sure. I am just a maintaining this repo. So if alone has a fix feel free to submit a PR

[2020-01-31 19:55] wnaylor opened #7 "Does this plugin support the Meross MSS560 US dimmer switch?"
I tried setting up the Meross plugin using the Charles app but I can't get Homebridge to recognize the MSS560 US switch. Here is what the config-ui-x logs say:

[Pantry Switch] Failed to POST to the Meross Plug: Error: Invalid URI "192.168.1.87/config"
    at Request.init (/usr/local/lib/node_modules/homebridge-meross/node_modules/request/request.js:273:31)
    at new Request (/usr/local/lib/node_

[2020-02-06 16:31] tippchopp commented on #5
Does this Plugin work Witz the Meross MSG100?

[2020-02-23 21:02] tippchopp opened #9 "Meross MSG100"
Can you add the Meross MSG100EU ?

[2020-02-23 22:11] donavanbecker commented on #9
If you can create a pull request for it. I can push it. I am just maintaining this Repo.

[2020-02-25 11:21] dependabot-preview[bot] opened #10 "Dependabot needs permission to see skip-commit"
Dependabot couldn't resolve your project's dependencies as it couldn't access [skip-commit](https://github.com/teaminkling/skip-commit).

You can provide additional git credentials in your [Dependabot dashboard](https://app.dependabot.com/accounts/donavanbecker) by clicking into the account menu (in the top right) and selecting 'Config variables'. If you use a custom token for the host `github.com

[2020-02-26 11:21] #10 closed

[2020-03-01 15:05] donavanbecker commented on #7
If you can create a pull request for it. I can push it. I am just maintaining this Repo.

[2020-03-05 22:47] #5 closed

[2020-03-05 22:47] #6 closed

[2020-03-05 22:47] #9 closed

[2020-04-06 19:50] Stephane67000OIUG opened #15 "meross MSG 100"
i need some help to find some information to setup the plugin

where or how can i found :
message ID
TimeStamp
Sign

for a meross MSG 100

[2020-04-12 09:38] castorpollux285 opened #20 "Error: Invalid URI"
Hello,

I get the following error message when I try to configure the meross plug "mss310":

[code]

This is the configuration:
[code]

I got the informations from the Charles ios app.

Thanks in advance!

[2020-04-13 16:52] donavanbecker commented on #20
@castorpollux285 are you using config-ui-x?

[2020-04-16 14:28] arohl commented on #20
@donavanbecker Is it possible to reopen this? I have the meross plug "mss310" and get a similar error (although I got my parameters using https://github.com/bapirex/meross-api/). I did use config-ui-x.

Many thanks

  Andrew

[4/16/2020, 10:07:09 PM] [Meross] Failed to POST to the Meross Plug: Error: Invalid URI "undefined/config"
    at Request.init (/usr/local/lib/node_modules/homebridge-meross/

[2020-04-16 15:13] dylanfrankcom commented on #20
@castorpollux285 @arohl

Could you both edit your deviceUrl in your config file to include the http:// header and see if that fixes the issue.

Ex. `deviceUrl: 'http://192.168.178.139'`

[2020-04-16 15:28] arohl commented on #20
Will do first thing tomorrow- it’s quite late in Perth :-)

However I did manage to get Charles on my iPhone and the POST seems very simple for this model of smart plug

{
    "payload": {
        "togglex": {
            "onoff": 1,
            "channel": 0
        }
    },
    "header": {
        "messageId": "164d94c5968c397bd17a90f1797f8650",
        "method": "SET",
        "from": "http:\/\/

[2020-04-16 15:32] dylanfrankcom commented on #15
Hey @Stephane67000OIUG,

Take a look a this [link](https://www.raywenderlich.com/1827524-charles-proxy-tutorial-for-ios) and see if you can go from there. It will be how you obtain the information required. This resource is included in the first link that @donavanbecker posted and more information can be found in the second link he posted. We are looking to make this process much easier soon.

[2020-04-16 15:39] dylanfrankcom commented on #9
Hey @tippchopp,

Have you attempted to setup the MSG100 following the guide and it is not working?

[2020-04-16 15:44] dylanfrankcom commented on #20
Thanks for posting the payload. It will help later if the changes in your config don't. Please report back if it works!

[2020-04-16 15:48] dylanfrankcom commented on #7
Hi @wnaylor, the payload could be different as it is a dimmer switch and I haven't had any experience with it. However, the error message you are getting is similar to [this issue](https://github.com/donavanbecker/homebridge-meross/issues/20).

Could you please check your config file and attempt this [possible solution](https://github.com/donavanbecker/homebridge-meross/issues/20#issuecomment-6147

[2020-04-16 15:56] dylanfrankcom commented on #6
Hey @phillippc, could you post the payload for the plug as well as your config?

[2020-04-16 16:01] dylanfrankcom commented on #5
Hey @1987marco1987, what model of Meross device are you using?

[2020-04-16 16:29] dylanfrankcom commented on #4
Hey @tbones1! Thanks for including the payload of the device. The sent request looks pretty similar to other devices so I think it can be implemented. I will look into this over the coming days. As @donavanbecker mentioned, neither of us have the product but we can try our best and see what we can do.

[2020-04-17 04:34] arohl commented on #20
Got the same error
`
[Meross] Failed to POST to the Meross Plug: Error: Invalid URI "undefined/config"
    at Request.init (/usr/local/lib/node_modules/homebridge-meross/node_modules/request/request.js:273:31)
    at new Request (/usr/local/lib/node_modules/homebridge-meross/node_modules/request/request.js:127:8)
    at request (/usr/local/lib/node_modules/homebridge-meross/node_modules/request/in

[2020-04-17 14:13] dylanfrankcom commented on #20
I think the issue is with your config file. I believe JSON strings can only be declared with double quotes as opposed to single quotes and I think there is an issue with the layout in general. If you want you can post your entire config with a couple things redacted and I can look over it if you would like? The bridge's mac-address `username` value as well as any devices `messageID` and `sign` val

[2020-04-18 08:25] arohl commented on #20
I think its much harder than this unfortunately. I have been playing around with this plug and can now send it data but I always get an error.

{
 header: {
   messageId: 'c3222c7d2b9163fe2968f06c45338a9f',
   namespace: 'Appliance.Control.ToggleX',
   method: 'ERROR',
   payloadVersion: 1,
   from: '/appliance/19090313123344251h1448e1e900e715/publish',
   timestamp: 1587132239,
   timestampMs: 24

[2020-04-18 11:57] dylanfrankcom commented on #20
You’re right! The sign does change with every request sent through the Meross app, however a unique sign is not required with every new payload sent. The sign is able to be reused and is why it is included in the config file. I am not completely sure if the messageID and the sign are associated with each other and must be taken from the same payload to work correctly but is something else you can

[2020-04-18 14:11] arohl commented on #20
OK

SO here is my config (copy and pasted from web gui)

{
    "bridge": {
        "name": "Homebridge A578",
        "username": "0E:35:C2:82:A5:78",
        "port": 51901,
        "pin": "XXXXXXXXX"
    },
    "accessories": [
        {
            "accessory": "CmdTriggerSwitch",
            "name": "amp",
            "stateful": true,
            "onCmd": "/Users/andrew/src/MSS310/start_amp.sh

[2020-04-18 14:12] arohl commented on #20
Note that I have got something working using CmdTriggerSwitch - it calls a shell script which in turn uses a python library I found BUT this does it via talking to the meross cloud so has a lot of latency

[2020-04-18 14:14] arohl commented on #20
Errors still like:

[4/18/2020, 10:09:02 PM] [Meross] Failed to POST to the Meross Plug: Error: Invalid URI "undefined/config"
    at Request.init (/usr/local/lib/node_modules/homebridge-meross/node_modules/request/request.js:273:31)
    at new Request (/usr/local/lib/node_modules/homebridge-meross/node_modules/request/request.js:127:8)
    at request (/usr/local/lib/node_modules/homebridge-meross

[2020-04-18 14:24] donavanbecker commented on #20
@arohl Your device url still doesn’t have http:// in front of it.

[2020-04-18 14:31] arohl commented on #20
OK - its all working now! - thanks!!

I hand edited the config to add the http and also to simplify it (it didn't work with the http added to my previous config); it looks like

    "accessories": [
        {
            "accessory": "Meross",
            "name": "amp",
            "deviceUrl": "http://192.168.178.139",
            "hardwareVersion": 2,
            "channel": 0,
            "messa

[2020-04-18 14:32] dylanfrankcom commented on #20
Fantastic! Was about to send you the exact same thing. Enjoy! 🙂

[2020-04-18 14:32] #20 closed

[2020-04-18 15:53] tbones1 commented on #4
Hi @dylanfrankcom, that would be amazing. I'm happy to do some testing and help with any troubleshooting.

[2020-04-19 15:31] donavanbecker commented on #20
@arohl would you be willing to test a change that I just made to the beta branch?

[2020-04-19 15:34] arohl commented on #20
Sure - but you will have to give me some basic instructions on how to install beta branch

[2020-04-19 15:37] donavanbecker commented on #20
thanks,

from terminal install beta using this command:
[code]
Then in your config schema, change the Device URL to just be an IP address. without the http:// in front of it. and let me know if you are still able to control your device?

[2020-04-20 11:02] arohl commented on #20
Can confirm it works!

Once you have updated the repo, I just need to

`sudo npm install -g --homebridge-meross`

to get back on the release version?

[2020-04-20 13:27] donavanbecker commented on #20
with `@latest` at the end just to make sure it pulls the `latest` from npm.

[2020-04-20 13:27] donavanbecker commented on #20
Thanks fro doing that!

[2020-04-20 23:30] dylanfrankcom commented on #4
@tbones1 Could you join the [Homebridge Discord Server](https://discord.gg/kqNCe2D) server and shoot me a message on there? Looking to add support and just require some additional information.

[2020-04-21 12:54] MatGriffin opened #24 "Support for MSS420F"
Does this support the mss420f power strip?
I tried but could not get it to work.

[2020-04-21 12:58] donavanbecker commented on #24
@MatGriffin, I don't have that product. have you tested it with the power strip?

[2020-04-21 13:14] MatGriffin commented on #24
Yes, I could not get it to work. I used Charles proxy and Thor app to try and grab the various bits but it just would not work. What I did not notice is that all calls are via https://iot.meross.com not local ip, no internet connection not control of the sockets.

[2020-04-21 13:44] dylanfrankcom commented on #24
Hey @MatGriffin, we are looking to add support for as many devices as possible. That’s interesting about the calls. Typically you would see calls from an IP on your local network as well as iot.meross.com.

Could you join the [Homebridge Discord](https://discord.gg/Z8jmyvb) and get in contact with me or @donavanbecker. It would be much easier to get information in real time.

[2020-04-22 13:25] donavanbecker commented on #24
can you post your config and any errors you are getting?

[2020-04-24 20:55] marcocattaneogotam opened #25 "Meross MSS310 setup"
Hi!

This is my config for a smart plug MSS310

{
            "name": "presa",
            "deviceUrl": "http://192.168.1.141",
            "hardwareVersion": 1,
            "channel": 0,
            "messageId": "d8a5c2e967c923bd80014df179bbfb59",
            "timestamp": 0,
            "sign": "82aec8a0295bd874e12ab2c3f31f77",
            "accessory": "Meross"
        }

and this is the error I

[2020-04-28 13:30] ChopsKingsland opened #26 "Setting up with HOOBs"
I am new to HOOBS, and I am very confused about how to set this up. Could I have some help, as the instructions are very confusing?

[2020-04-28 13:53] donavanbecker commented on #26
@ChopsKingsland first of all, switch to using just [Homebridge](https://github.com/homebridge/homebridge) since the [Config UI](https://github.com/oznu/homebridge-config-ui-x/wiki) has it built in to allow for easier setup. second of all you will have to get information from Charles proxy app, either a computer or mobile device. this is where you will get the `timestamp`, `messageId`, `sign`, `IP`

[2020-04-28 13:55] ChopsKingsland commented on #26
What's the difference between Homebridge and HOOBS? HOOBS has a UI too

[2020-04-28 14:02] donavanbecker commented on #26
Well homebridge is were it all started. HOOBs is based off homebridge.

also below is an example of the easy config you get with config ui.

<img width="409" alt="Screen Shot 2020-04-28 at 9 00 17 AM" src="https://user-images.githubusercontent.com/9875439/80496343-b0724080-892e-11ea-99b6-8534c567aa91.png">

[2020-04-28 14:03] ChopsKingsland commented on #26
Charles Proxy on iOS costs £8.99, is there a free way of doing it?

[2020-04-28 14:05] donavanbecker commented on #26
use free trial on mac. https://www.charlesproxy.com

[2020-04-28 14:09] ChopsKingsland commented on #26
i dont own a mac...

[2020-04-28 14:09] ChopsKingsland commented on #26
isnt there a simpler way, that connects straight to the Meross servers without charles?

[2020-04-28 14:14] donavanbecker commented on #26
do you have a pc???

[2020-04-28 14:15] ChopsKingsland commented on #26
yes

[2020-04-28 14:17] donavanbecker commented on #26
unfortunately as of now we don't have a simpler way. Possibly implementing a meross cloud way of setting up meross in the future. Which if you want to submit a pr for that, we would gladly implement it.

[2020-04-28 14:17] donavanbecker commented on #26
there is a pc trial that you can download.

[2020-04-28 14:37] donavanbecker commented on #26
@ChopsKingsland are you having luck with the pc app?

[2020-04-28 14:44] donavanbecker commented on #26
also if you want to test our `beta` out we are trying to make the setup easier with config ui.

Here are the install instructions:
[code]
to revert back:
[code]
<img width="409" alt="Screen Shot 2020-04-28 at 9 44 29 AM" src="https://user-images.githubusercontent.com/9875439/80501271-dd295680-8934-11ea-8db4-53e4f348e32d.png">

[2020-04-28 20:46] donavanbecker commented on #26
Just released [Version 1.1.0](https://github.com/donavanbecker/homebridge-meross/releases/tag/v1.1.0), if you want to give it a try.

[2020-04-28 20:46] donavanbecker commented on #25
Just released [Version 1.1.0](https://github.com/donavanbecker/homebridge-meross/releases/tag/v1.1.0), if you want to give it a try.

[2020-04-28 20:47] donavanbecker commented on #24
Just released [Version 1.1.0](https://github.com/donavanbecker/homebridge-meross/releases/tag/v1.1.0), if you want to give it a try.

[2020-04-28 20:48] donavanbecker commented on #4
Just released [Version 1.1.0](https://github.com/donavanbecker/homebridge-meross/releases/tag/v1.1.0), if you want to give it a try. This does not include support for the garage door, we need you to reach out on discord so that we can get more info from you.

[2020-04-28 20:49] donavanbecker commented on #24
See [Specific Model Configurations Wiki](https://github.com/donavanbecker/homebridge-meross/wiki/Specific-Model-Configurations) for more details on MSS420s...

[2020-04-28 20:49] donavanbecker commented on #20
Just released [Version 1.1.0](https://github.com/donavanbecker/homebridge-meross/releases/tag/v1.1.0), if you want to give it a try.

[2020-04-28 20:50] donavanbecker commented on #15
Just released [Version 1.1.0](https://github.com/donavanbecker/homebridge-meross/releases/tag/v1.1.0), if you want to give it a try.

[2020-04-28 20:50] donavanbecker commented on #9
Just released [Version 1.1.0](https://github.com/donavanbecker/homebridge-meross/releases/tag/v1.1.0), if you want to give it a try.

[2020-04-28 20:50] donavanbecker commented on #7
Just released [Version 1.1.0](https://github.com/donavanbecker/homebridge-meross/releases/tag/v1.1.0), if you want to give it a try.

[2020-04-28 20:51] donavanbecker commented on #6
Just released [Version 1.1.0](https://github.com/donavanbecker/homebridge-meross/releases/tag/v1.1.0), if you want to give it a try.

[2020-04-28 20:51] donavanbecker commented on #5
Just released [Version 1.1.0](https://github.com/donavanbecker/homebridge-meross/releases/tag/v1.1.0), if you want to give it a try.

[2020-04-28 20:53] marcocattaneogotam commented on #25
Thanks. I've updated the plugin, the config (with the right model), but no, it doesn't work.

This is the current config:

{
            "model": "MSS310",
            "name": "presa",
            "deviceUrl": "192.168.1.141",
            "channel": 0,
            "messageId": "d8a5c2e967c923bd80014df179bbfb59",
            "timestamp": 0,
            "sign": "82aec8a0295bd874e12ab2c3f31f77",

[2020-04-28 20:56] ChopsKingsland commented on #26
What’s in the new version?

[2020-04-28 20:59] donavanbecker commented on #26
visit the link provided.

[2020-04-28 21:00] ChopsKingsland commented on #26
I moved over to Homebridge, as it works better with a different plugin that wouldn’t work with HOOBs

[2020-04-28 21:03] donavanbecker commented on #25
@marcocattaneogotam what are you using to get your `timestamp`, `messageId`, and `sign`?

Can you provide the request body? from the /config.
![IMG_0074](https://user-images.githubusercontent.com/9875439/80537473-c05b4600-8969-11ea-92af-84a8b6a65063.PNG)
![IMG_C2CF02C82787-1](https://user-images.githubusercontent.com/9875439/80537442-b46f8400-8969-11ea-91d3-4506c9cfe0bb.jpeg)

[2020-04-29 03:04] arohl commented on #20
Done and can confirm works for me

On 29 Apr 2020, at 4:50 am, Donavan Becker <notifications@github.com<mailto:notifications@github.com>> wrote:

Just released Version 1.1.0<https://github.com/donavanbecker/homebridge-meross/releases/tag/v1.1.0>, if you want to give it a try.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/do

[2020-04-29 09:51] donavanbecker commented on #26
That’s awesome. Did you get this plugin to work?

[2020-04-29 09:52] ChopsKingsland commented on #26
I’m trying to find a free alternative that can always run on my pi/iPad

[2020-04-29 10:18] donavanbecker commented on #26
@ChopsKingsland are you talking about charles proxy?

[2020-04-29 10:19] ChopsKingsland commented on #26
yep

[2020-04-29 10:22] moviedan commented on #25
I’m having a similar issue. I originally used Charles Proxy on the device to sniff traffic to the plug, and retrieved similar time stamp, messageID, and Sign values to @marcocattaneogotam.

I don’t think they’re right though. My understanding is we’re supposed to grab these as a result of the call to /config, but in Charles I keep getting a 503 when calling that end point. Any ideas?

[2020-04-29 10:27] donavanbecker commented on #26
[HTTP Catcher](https://apps.apple.com/us/app/http-catcher/id1445874902)

[2020-04-29 11:08] ChopsKingsland commented on #26
once its setup, do i need http catcher at all?

[2020-04-29 11:26] donavanbecker commented on #26
Nope. After it’s setup you shouldn’t need it anymore.

[2020-04-29 11:27] ChopsKingsland commented on #26
okey dokey

[2020-04-29 11:27] ChopsKingsland commented on #26
its all setup now. Thanks!

[2020-04-29 11:27] #26 closed

[2020-04-29 11:27] donavanbecker commented on #25
[HTTP Catcher](https://apps.apple.com/us/app/http-catcher/id1445874902), try this one! It is going to be a little different then my instructions, but it works.

- Hit Configure in the top right.
- Enable VPN.
- Hit Start to start collecting.
- In "Search URL", search for your IP of the meross plug.
- You will see a Post to /config with a `200` Response with `application/json`.
- Click into that an

[2020-04-29 11:31] donavanbecker commented on #26
Awesome!

[2020-04-29 14:13] moviedan commented on #25
Amazing @donavanbecker - worked like a charm. I’m going to work through and set the other plugs up now. Thanks for your help.

[2020-05-01 08:15] lami974 commented on #4
Hello, I'm not a developer, but I have two MSG100s. As far as I can, I can help you with the tests. What do you need for the next. I also dumped the network and I have the same thing as @tbones1

[2020-05-01 12:56] donavanbecker commented on #4
@lami974 can you reach out to us on the homebridge discord server?

[2020-05-01 13:08] lami974 commented on #4
« Oznu/homebridge:no-avahi » on NAS Synology server, in docker. « Alpine Linux (3.11.6) »

[2020-05-01 13:52] donavanbecker commented on #4
[Homebridge Discord Server](https://discord.gg/Z8jmyvb)

[2020-05-02 12:45] marcocattaneogotam commented on #25
It worked for me too. Thanks!

[2020-05-02 12:45] #25 closed

[2020-05-02 12:50] donavanbecker commented on #25
@marcocattaneogotam good to hear!!

[2020-05-05 01:07] #24 closed

[2020-05-05 11:30] HarrySteff commented on #4
It would be very great if this plugin would support the msg100. I also own such a device. If I can do anything except coding, please give me info. Thank you!

[2020-05-05 11:52] donavanbecker commented on #4
@HarrySteff Are you on the discord server?

[2020-05-05 12:02] HarrySteff commented on #4
No, at the moment i am not... i will try it later...

[2020-05-05 12:16] Vati80 commented on #4
Hi donavanbecker,

Thank you very much for your efforts!
I would also like to offer my support, for testing. I have a Meross MSG100 Garage Door Opener. HomeBridge runs on a Raspberry Pi. I have a Discord Account too.

Cheers Vati

[2020-05-16 21:28] joakyhsf69 opened #28 "Mss310 error"
Hi, I cant get my mss310 working.

My config is:

"accessories": [
        {
            "model": "MSS310",
            "name": "Meross Switch",
            "deviceUrl": "192.168.1.221",
            "channel": 0,
            "messageId": "1e28b96dd4e627b74ef96af0056da81d",
            "timestamp": 1589656230,
            "sign": "8d4fa1494ce548cd2c432483bff2d2f6",
            "accessory": "Meross"

[2020-05-16 21:36] dylanfrankcom commented on #28
Interesting. Could you try setting the model to the MSS-110 1.0 and see if that works? I will look into this in the mean time.

[2020-05-16 21:57] joakyhsf69 commented on #28
Yes, with the MSS-110 1.0 it works fine. Thank you

[2020-05-17 16:17] dylanfrankcom commented on #28
Good to know, thank you!

[2020-05-17 16:34] #28 closed

[2020-05-20 13:23] tbones1 commented on #4
Posted in Discord
ImTime is different and appears to be UNIX time

[2020-05-22 03:40] CocoaBob commented on #4
I got one, since I thought it was already supported by this plugin  😂

After collecting several HTTP requests, I noticed that the `messageId` and `sign` are always changing, and they are all 32 characters. I guess they were AES 128 hash codes calculated from a key + current timestamp + some other factor.

Let me try to use a Jailbroken iPhone to analyze their iOS app.

[2020-05-22 04:09] CocoaBob commented on #4
OK, forget about what I said just now, I noticed that there was a firmware update, which said it would improve the security of open/close... But after updating the firmware, now I can control the door with Postman 😂

Let me check it further.

[2020-05-22 22:28] CocoaBob commented on #4
The garage door support is so complicated, I underestimated it and just spent one day to debug the logic. My neighbours may notice my garage door kept closing/opening during the night 😂

Here's my pull request https://github.com/homebridge-plugins/homebridge-meross/pull/29

Problems left:
1. How can we get open/close notifications from Meross?
I've observed the traffic, the iOS app is relying on A

[2020-05-22 23:55] donavanbecker commented on #4
I have merged this in the latest beta, if you would like to try, follow these [instructions](https://github.com/homebridge-plugins/homebridge-meross/wiki/Beta).

[2020-05-23 08:16] Vati80 commented on #4
Hello, thank you for the great work. I installed the beta today. What content do I have to enter in the fields: "messageId", "timestamp" and "sign"?
Cheers Vati

[2020-05-23 14:35] CocoaBob commented on #4
@Vati80 Yes, you still need to sniffer the traffic and get the `messageId`, `timestamp` and `sign` from the app's request. Here's a screenshot of the settings in **Homebridge Config UI X**.

![image](https://user-images.githubusercontent.com/489666/82733256-a26ed000-9ce0-11ea-8ac1-fc00de084752.png)

And here's another screenshot of my Homebridge `config.json` file.
![image](https://user-images.git

[2020-05-23 16:40] CocoaBob commented on #4
Sorry, I made a mistake in the last commit, just fixed it this morning, please try again after merging PR https://github.com/homebridge-plugins/homebridge-meross/pull/30 .

[2020-05-23 19:09] donavanbecker commented on #4
#30 has been merged into latest beta.

[2020-05-24 10:56] Vati80 commented on #4
@CocoaBob  i sniff my traffic with the Wireshark app (OS X). I try it for hours... sorry but I can't find the entries for "messageId", "timestamp" and "sign". I found the IP, respectively the "Meross-Smart-Garage.fritz.box" entries. When i open the line i don't see the searched entries. What else can I do

    Interface id: 0 (en1)
        Interface name: en1
        Interface description: Etherne

[2020-05-24 12:42] donavanbecker commented on #4
@Vati80 try using the [Getting Credentials](https://github.com/homebridge-plugins/homebridge-meross/wiki/Getting-Credentials) wiki.

[2020-05-24 14:02] Vati80 commented on #4
@donavanbecker oh man... Thank you so much! It was done in 2 minutes. Before, I tried for hours...

cheers Vati

[2020-05-25 14:14] hardstylle commented on #4
Hey,
I hacked together garage door support by calling a python script using this library: https://github.com/albertogeniola/MerossIot
I was going to try and do it purely in js but it seems like you’re already close to having it working.

[2020-05-26 17:27] donavanbecker commented on #4
@CocoaBob @Vati80 @tbones1 @HarrySteff, with the latest beta. how is everything working? Any issues?
If there are no issues, do you think this is ready for release?
Since @dylanfrankcom and myself don't have the MSG-100, we can't really test this so need your results to know when to release.

[2020-05-26 17:37] CocoaBob commented on #4
Currently I'm using a fixed duration (20 sec) to tell if the door is OPEN, but I see there's an option in the app to let users choose how long their opener will take to complete the opening (my screenshot shows `15s`).

I'm wondering if I should add that setting too, and remove the serial number setting (since it still works without serial number). But currently I'm too busy to WFH 😂, probably wil

[2020-05-26 18:15] Vati80 commented on #4
Hi @donavanbecker and @CocoaBob ,

I have extensively tested the meross plugin for the Last 2-3 days. In my opinion, it works great. I also tested different WLAN with the same settings in Config.json. So far... I have not found any errors and I am really very happy with them. A big compliment to you for this Great work! I love it.

Cheers Vati

[2020-05-26 18:48] HarrySteff commented on #4
Thank you for all your work, until now I unfortunately could not test it... but I will definitely do so in the next couple of days. Thank you so much...

[2020-05-27 11:20] lami974 commented on #4
Hi @donavanbecker @CocoaBob

It works great for me on my two MSG 100. Thank you so much…

[2020-05-27 20:47] donavanbecker commented on #4
I have release Version 2.0.0:

#### Changes
- added Support for MSG-100 (Garage Door Opener).

## IMPORTANT
#### Homebridge v1.0.0
- Changed homebridge requirement to be v1.0.0 or higher.

[2020-05-27 20:47] #4 closed

[2020-06-07 10:04] dragonjo84 opened #35 "Add support Smart WiFi Humidifier MSXH0"
Hello
Can you tell me if you work on adds of Smart WiFi Humidifier MSXH0 ?

Thanks a lot !
Have a nice day

**Describe Your Problem:**

**Logs:**

[code]

**Homebridge Config:**

[code]

**Screenshots:**

**Environment:**

* **Node.js Version**:
* **NPM Version**:
* **Homebridge Version**:
* **Homebridge GSH Plugin Version**:
* **Homebridge Config UI X Plugin Version**:
* **Operating System**:

[2020-06-18 13:11] TautFlorian opened #39 "Add Exposure of Power Consumption"
Hey, i only have a short question.
Will this Plugin expose the power consumption of the outlets to homekit?

[2020-06-19 07:16] TimLi20 opened #40 "Support on/off for each sockets"
My Meross have 4 sockets, the meross can support turn each one on or off, can homebridge can do it? This is very useful to control every device in homekit.

[2020-06-19 11:14] donavanbecker commented on #40
Please use issue template.

[2020-06-19 19:57] donavanbecker commented on #40
@TimLi20 what model?

[2020-06-19 19:59] donavanbecker commented on #39
Currently, I am unaware that this plugin supports that. A pull request is welcome for this.

[2020-06-20 12:57] dragonjo84 commented on #35
there's no log for the MSXHO.
I will integrate this to my Homebridge please
https://www.meross.com/product/47/article/

Homebridge Config:
{
            "name": "Humidificateur",
            "deviceUrl": "192.168.5.66",
            "channel": 0,
            "timestamp": 0,
            "accessory": "Meross"
        }

Environment:

Node.js Version:v12.16.3
NPM Version:6.14.4
Homebridge Version:1.1.

[2020-06-20 14:03] donavanbecker commented on #35
@dragonjo84 Can you post what you get from HTTP Catcher or Charlie’s Proxy?

[2020-06-22 04:13] TimLi20 commented on #40
The model is mss426f

[2020-06-22 10:20] #40 closed

[2020-06-22 11:51] donavanbecker commented on #40
Did you check out the [power strips](https://github.com/homebridge-plugins/homebridge-meross/wiki/Specific-Model-Configurations#mss420mss425—power-strips) wiki?

[2020-06-24 00:27] Lukabratzee opened #44 "Meross Power Strip (MSS420F) Not Working"
This is the output I get from the Homebridge console logs

[code]

My config is:

[code]

I'm using HTTP Catcher, it returns a valid 200 response.

I originally posted on Reddit regarding the power strip, sorry it took so long!

[2020-06-24 21:51] donavanbecker commented on #44
@Lukabratzee can you change your channel to 1 and let me know what you see?

[2020-06-24 22:38] Lukabratzee commented on #44
I've made the change, no joy unfortunatly.

I get a similar error on the console log:

[code]

[2020-06-25 03:15] donavanbecker commented on #44
I need more info on your setup.

[2020-06-25 19:57] Lukabratzee commented on #44
Sure, what do you need?

I'm running Homebridge, all over devices like Tuya, LifX run fine.
Not sure what else I can mention, you put me on the spot haha.

[2020-06-25 21:01] donavanbecker commented on #44
issue template has all questions in it.

[2020-06-25 22:12] donavanbecker commented on #44
also please provide updated config

[2020-06-25 23:19] Lukabratzee commented on #44
Node.js Version: 12.8.0
NPM Version: 6.14.4
Homebridge Version: 1.1.1(latest)
Homebridge Meross Plugin Version: 2.3.0
Homebridge Config UI X Plugin Version: 4.23.0
Operating System: Ubuntu 18.04.4 LTS (GNU/Linux 5.3.0-59-generic x86_64)

### Config:

[code]

[2020-06-26 03:05] donavanbecker commented on #44
can you post everything you get from using one these [methods](https://github.com/homebridge-plugins/homebridge-meross/wiki/Getting-Credentials)? make sure you go into the merls app and turn each plug on and off for the power strip. Then send the requests for each plug. Thanks!

[2020-06-27 16:02] Lukabratzee commented on #44
Sure thing, I toggled all 5 switches from OFF to ON (ALL, SW1/2/3/4)  and ON to OFF (SW1/2/3/4) and found their responses in HTTP Catcher.
Screenshotted them from iOS and uploaded here.

First batch are OFF to ON

![IMG_5316](https://user-images.githubusercontent.com/8959269/85926444-70c8c600-b897-11ea-9f29-514db5431e08.PNG)
![IMG_5317](https://user-images.githubusercontent.com/8959269/85926445-72

[2020-06-27 20:12] donavanbecker commented on #44
@Lukabratzee Can you try changing the model to MS110, and see if it works? If it does we can try changing this for your model. ![image](https://user-images.githubusercontent.com/9875439/85931251-98646200-b888-11ea-99c1-8702f08f732d.jpeg)

[2020-06-28 08:53] TautFlorian commented on #39
Maybe there could be a reference for the power exposure by looking into homebridge-tuya plugin.
Unfortunately i couldnt try it, but the config seems like there is an option to expose the power consumption.

Reference to: https://github.com/iRayanKhan/homebridge-tuya/blob/master/config-example.MD

[2020-06-29 11:06] mrdanielm commented on #44
@donavanbecker FWIW... I've managed to successfully setup this exact power strip today using the guide on the WiKi and the correct model number in the config.

I used channel 1-4 and grabbed the credentials from the /config url using the Charles app

[2020-07-02 12:14] KutuzoffLeha opened #45 "Add Support for Smart Wi-Fi LED Bulb with Dimmable Light MSL100"
Hello, I'd like to help adding this LED Bulb.
I'm not good at programming stuff, but I can provide the logs and help with testing. It seems to be similar to other light bulbs.

Turning on and off.
[code]

Changing the luminance. It changes in range from 1 to 100. Not sure what capacity does, but it doesn't change.
[code]

[2020-07-03 03:55] donavanbecker commented on #45
Thanks @KutuzoffLeha. potential, any pull requests are welcome.

[2020-07-10 10:33] overflywingo opened #50 "Can't configure my 2 Meross MSS310"
Hi
I recently installed Homebridge-Meros (v2.3.0) and I'm trying to do the setup for my 2 plugs.
The Wiki is a bit unclear to me.

- Because it's not clear to me if I have to use **both** HTTP Catcher AND Charles to collect the  data or if using just one of the two if enough ?

- First I used HTTP catcher to gather those 3 fields, messageId, timestamp &  sign ....  but here already a problem becau

[2020-07-12 20:17] chowdarygm opened #51 "Unable to find 'MessageID' anywhere in the HTTP Catcher logs"
**Describe Your Problem:**
Unable to find 'MessageID' anywhere in the HTTP Catcher logs, not sure what has changed recently. I ran the logs 5-6 times (My neighbors will curse me if I open and close garage door any more than this :P )

**Logs:**
Attached below are the screenshots of the HTTP catcher app logs

[https://imgur.com/a/GOXGnub](url)

[2020-07-13 08:54] TheUnknowing1 opened #52 "Possible support for the Meross Lightswitch MSS5X0 & MSS550"
Hi,

Does this work with the MSS5X0 & MSS550 light switch. If not do you think it would be technically possible to add support for them?

Thanks

[2020-07-14 15:07] dylanfrankcom commented on #50
Hey @overflywingo, looks like the request is the same as the MSS110 V1.0. Try changing the device model to that in your config (`"model": "MSS110-1"`) or homebridgeUI settings, whichever you prefer. I can get this changed for an upcoming release in which case your config will break again when you update. Just a heads up.

[2020-07-14 15:17] dylanfrankcom commented on #51
Hello, @chowdarygm. I think you have to click into those logs to see the request headers. Haven't used HTTPCatcher in a while so I might be wrong.

[2020-07-14 20:47] overflywingo commented on #50
Hi Dylan,  indeed is the same as MSS110.   I changed the model in the config and everything is now working perfectly. Great !
Also your explanations about HTTPCatcher and Charles are very clear .. as well as your explanations/clarifications about messageId, timestamp & sign changing all the times ... but not being an issue because of a valid combination.
I think  all those explanations should be a

[2020-07-14 20:47] #50 closed

[2020-07-15 02:44] donavanbecker commented on #50
@overflywingo You should be able to update the wiki?

[2020-07-15 10:07] Lukabratzee commented on #44
Apologies for taking so long to reply.
I changed my channel to 1-4, and I’ve made sure it’s MSS-110 1.0
There hasn’t been a change. I think the best thing for me to do is scrub the config part and set it up fresh from scratch, to see if I’m missing anything.

I’ve followed the wiki with HTTP Catcher but for a sanity check, I’ll use Charles.
I’ll do that tonight after work and update with my progre

[2020-07-16 12:04] TautFlorian commented on #51
@chowdarygm Works fine for me. Could you try this:
1. Open up the meross app (and already click on the outlet if you have surge protector)
2. After that go back to HTTP Catcher and then start the VPN connection.
3. Go back an turn on the outlet.
4. In HTTP Catcher search for a POST to a local ip-address with "/config"

I had those results too some times when meross app crashes.
These seem to be th

[2020-07-16 14:41] kieranmjones commented on #45
I have just got a pair of these bulbs as well, really good bulbs, but no support currently. I'll take a look and see if I can get it working then do a pull request for it, but I promise nothing, this is not my area of expertise!

[2020-07-16 14:54] donavanbecker commented on #45
Thanks @kieranmjones!

[2020-07-16 15:51] chowdarygm commented on #51
Got it solved. All my IoT devices are connected to a guest network. As my iPhone was connected to the main network, it was not able to get the logs with IP address. Once I connected my device to the guest network, it was able to see the required information.

[2020-07-16 15:51] #51 closed

[2020-07-20 12:00] TheUnknowing1 commented on #52
i can confirm this does work with the MSS550

[2020-07-20 12:00] #52 closed

[2020-07-20 23:43] Lukabratzee commented on #44
I wanted to post an update, I got it working!
Following the 4 channel guide, I altered the config and switched the model back to 420F.

Thank you for all your help.

[code]

[2020-07-20 23:43] #44 closed

[2020-07-21 01:01] chowdarygm opened #54 "Meross suddenly stopped working"
**Describe Your Problem:**
Meross device suddenly stopped working after working for couple of days and showing below error in logs. IP address didn't change and tried rebooting Pi and Homebridge multiple times with no difference.

**Logs:**
[7/20/2020, 19:55:46] [Garage door] Failed to POST to the Meross Device MSG100 at 192.168.1.16: Error: connect ETIMEDOUT 192.168.1.16:80
    at TCPConnectWrap.

[2020-07-21 01:06] dylanfrankcom commented on #54
Maybe @CocoaBob could take a look since they implemented support for the MSG100.

[2020-07-21 02:29] CocoaBob commented on #54
I think, ping the device every 2 seconds is too frequent, the the device stops responding... Let me change it to 5 seconds.

[2020-07-21 02:39] donavanbecker commented on #44
Good to hear! Glad you got it!

[2020-07-23 16:31] chowdarygm commented on #54
removed the plugin and re-added it with the merged code and today also getting the same error

[7/23/2020, 11:31:06 AM] [Garage door] Failed to POST to the Meross Device MSG100 at 192.168.1.16: Error: connect ETIMEDOUT 192.168.1.16:80
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1141:16) {
  errno: 'ETIMEDOUT',
  code: 'ETIMEDOUT',
  syscall: 'connect',
  address: '192.168.1.16',
  p

[2020-07-23 17:19] CocoaBob commented on #54
Hi @chowdarygm,

The above error message mainly means the script can't connect to your device at 192.168.1.16 .

Does it work right after reinstalling the plugin? If it doesn't work at all, I'm afraid your Meross device isn't connected to the internet now, or its IP address has been changed (re-assigned by your router)

Please try something like this:
1. Check if you can control the opener in the

[2020-07-23 18:55] chowdarygm commented on #54
I think I found the culprit but that seems to be  not the best solution for me. Meross is on my guest network and Homebridge is on the main router. usually I don't let devices to see each other between Guest and main network but disabling that feature and letting them see each other seems to fix the issue. I had to reset the router as other devices also were getting wonky, enabled and set the new

[2020-07-23 21:33] Kokorone commented on #4
I have this same garage opener the MSG-100, but there is a parameter for the "duration of press" that needs to be added to the homebridge plugin. Its already being passed through as timestampMs right after the timestamp value. My garage opener requires a 2 second press (244ms in the request) for it to actually begin opening or closing so despite it being added to homebridge just fine, its not trig

[2020-07-23 22:12] CocoaBob commented on #4
@Kokorone I just tried the official Meross app, the `signal duration` can be set in the app, and will be saved to MSG-100 directly. (I captured the request) So I guess after setting the value, our Homebridge plugin should be able to Open/Close the opener correctly?

Based on what I captured, the `signal duration` setting is another HTTP request, the parameter isn't included in my Open/Close reques

[2020-07-23 22:14] Kokorone commented on #4
Interesting. Here is what I’m getting from the http capture app.

{
  "header": {
    "messageId": "cb8d04916156ac32995b3990331d7659",
    "namespace": "Appliance.System.Online",
    "triggerSrc": "iOS",
    "method": "GETACK",
    "payloadVersion": 1,
    "from": "/appliance/1911080065387090804648e1e9111579/publish",
    "timestamp": 1595538826,
    "timestampMs": 244,
    "sign": "7b719b6dcb58e5

[2020-07-23 22:18] CocoaBob commented on #4
@Kokorone But it works in the official app? Strange, let me test more. And please let me know the hardware/firmware versions, maybe something is different.

[2020-07-23 22:19] Kokorone commented on #4
@CocoaBob yup no issues at all with the app or the widget for the app. Here is a screenshot of the firmwares
![E602E7EB-53EF-4C63-B17A-928FDB04DC35](https://user-images.githubusercontent.com/32761171/88344215-f2c1d880-ccf7-11ea-8c4c-e0429f83a2c8.png)

[2020-07-24 11:03] PeteCooney opened #59 "Add support for changing Outlets to Lights"
I have a number of MSS210 plug adapters that I use to control lights (table lamps etc) around the house.
While it's possible to change the type of device within the Home app, it would be great to be able to override the default service type when creating the accessory within Homebridge.

[2020-07-24 14:57] dylanfrankcom commented on #59
Hey @PeteCooney, while I can see where you're coming from I think doing so would add a layer of unnecessary complexity to the setup process, make breaking changes to the users current config, and could introduce bugs due to how Homebridge sets up a devices characteristics.

When a device in initialized within Homebridge it is assigned characteristics based on the service type provided by the plugi

[2020-07-24 23:21] CocoaBob commented on #4
@Kokorone
This is the request you posted yesterday
[code]
Do you know where it was sent to? My captured request was sent to `http://192.168.0.128/config`

And do you have other Meross devices at home? For example, another smart switch?

[2020-07-24 23:37] Kokorone commented on #4
@CocoaBob I only have the one meross device, with a static ip of 192.168.1.161. I grabbed the values from http catcher from http://192.168.1.161/config

[2020-07-25 00:04] Kokorone commented on #4
@CocoaBob I may have found the problem, After opening and closing the garage 4 times, I see no network traffic other than the initial 2 requests to 192.168.1.161 with the /config. Closing and reopening the app is enough to make these two requests happen. I'm not sure how its possible for the opener to not send any traffic for the open and close commands though?

![IMG_3412](https://user-images.git

[2020-07-27 09:07] PeteCooney commented on #59
Hi @dylanfrankcom, thanks for the detailed reply, much appreciated.

Regarding some of the risks you highlight:
1) Complexity in setup: The additional setting would be optional and only apply to outlet type devices (if it's not present, or applied to an "unsupported" device, it simply gets ignored.
1) Break existing config: As above, making this an optional setting would not break any existing con

[2020-07-30 10:01] monxas opened #61 "Meross MSS210 not working Error: connect EHOSTUNREACH"
**Describe The Bug:**
Homebridge not able to comunicate with plugs, errors in console
**To Reproduce:**
Just using homebridge to turn on and off plugs
**Expected behavior:**
plugs responding to calls from homebridge
**Logs:**

    [7/30/2020, 11:51:21] [Enchufe] Failed to POST to the Meross Device MSS210 at 192.168.0.20: Error: connect EHOSTUNREACH 192.168.0.20:80
        at TCPConnectWrap.afterCo

[2020-08-04 16:27] dirkelko commented on #61
While it worked with two of my MSS210 plugs (hardware version 2.0, can be checked in the Meross App), I got the same error with two older MSS210 plugs (identical looking and same label but hardware version 1.0). It works if I select for the older plugs MSS-110-1.0 as device in the settings.
Seems that the MSS210 plug exists also in two versions with the older one being similar to the MSS-110 1.0

[2020-08-04 17:59] dylanfrankcom commented on #61
Interesting. Will look into getting that distinction implemented. Good find!

[2020-08-05 00:09] Kokorone commented on #4
@CocoaBob unfortunately I can only chalk it up to meross having some firmware update that blocked the functionality between firmware 3.1.13 and 3.1.15. I've tried setting the unit back up with httpcatcher running and trying every possible parameter configuration, even going so far as to buy a new unit.

[2020-08-09 21:02] #54 closed

[2020-08-10 23:38] druth001 commented on #45
Anyone have any luck?  I’m trying to add a pair of MSL120 lights, but haven’t gotten them to work yet.

[2020-08-13 11:02] #59 closed

[2020-08-16 22:47] PatDal81 commented on #45
Same request here, was able to get a MSL120J to work (On/Off) using the standard config (as a normal outlet) but this is it.  No options to change the light/brightness.

Would be neat to add support for this light bulb!  Thanks!

[2020-09-14 20:24] donavanbecker opened #66 "Beta Testing for v3.0.0"
## 3.0.0 (2020-09-**)

## [Version 3.0.0](https://github.com/donavanbecker/homebridge-honeywell-home/compare/v2.3.1....3.0.0)

#### Changes
-  Converted Project to Typescript.

To Install:
[code]
To Revert:
[code]

[2020-09-14 20:43] donavanbecker commented on #66
@CocoaBob @dylanfrankcom @

[2020-09-15 04:27] CocoaBob commented on #66
The beta seems working well, so far so good, I will keep testing it for another day 👍

[2020-09-15 09:21] Marcwa19197 opened #69 "Support for mss530h"
**Describe the solution you'd like**
Are there any plans for supporting the mss530h? Its the 3-gang Switch. Im using a few of them.

[2020-09-17 14:42] donavanbecker commented on #66
v3.0.0 has been released.

[2020-09-17 14:42] #66 closed

[2020-09-17 20:21] PatDal81 commented on #45
Are we using the right channel for this kind of improvement?

[2020-09-17 21:30] LordJohnWhorfin opened #76 "Add Support for Meross MRC210 Fan Controller"
The [Meross MRC210](https://www.meross.com/product/57/article/) is a multiple ceiling fan controller compatible with a variety of ceiling fans.
I can see my HVAC fans come on in HomeKit and I would like to be able to add automation to make the ceiling fans turn on automatically to assist them. Unfortunately the MRC210 seems to be the one Meross product that is not yet supported by this cool plugin

[2020-09-22 20:48] songo-github commented on #61
"model": "MSS560",
            "name": "gimp basement lights",
            "deviceUrl": "X.X.X.X",
            "channel": 0,
            "messageId": "REMOVED",
            "timestamp": REMOVED,
            "sign": "REMOVED",
            "innerIP": "X.X.X.X",
            "accessory": "Meross"
        } `

I got a similar error on a MSS560 dimmer switch in homebridge fixed by adding the “innerIP”:

[2020-09-26 16:22] rgoggy opened #77 "Add Support for MRS100 Rolling Shutter Switch"
Can you add MRS Rolling Shutter Switch?

[2020-10-02 03:04] donavanbecker commented on #45
@PatDal81, @KutuzoffLeha, @druth001

does dimming lights work for you in the latest beta? #78

[2020-10-03 04:11] PatDal81 commented on #45
I tried using the model "MSS560" but unfortunately ,setting the brightness is not working.  I can see in homebridge logs it's trying to change the brightness but the light is still 100%

[10/3/2020, 05:07:24] [Lumière Chalet Chambre] MSS560 set brightness to 100
[10/3/2020, 05:07:25] [Lumière Chalet Chambre] MSS560 set brightness to 54
[10/3/2020, 05:07:25] [Lumière Chalet Chambre] MSS560 turned O

[2020-10-03 10:37] donavanbecker commented on #45
@PatDal81 Use the model you have, not the one in the comments. Which is?

[2020-10-03 10:51] PatDal81 commented on #45
Model that I'm using is MSL120J.  If I configure it with this model number, I'm getting a simple on/off switch, no dimming capabilities.

[2020-10-03 15:22] KutuzoffLeha commented on #45
I don't have those bulbs anymore unfortunately. But can confirm with MSS560 config for MSL420 that only on/off works, not the brightness adjustment.

[2020-10-06 17:51] rgoggy commented on #77
Can I give any information that someone can implement it?

[2020-10-10 19:31] PatDal81 commented on #45
Anything else that can be done to help you on this one?

[2020-10-11 20:12] Marcwa19197 commented on #69
Hi,
i did a few tests with postman.
Controling the MSS530H is easy as controlling the MSS-550 but you have multime Channels. (1, 2 and 3)

Post Request is the same.

`{
  "payload" : {
    "togglex" : {
      "onoff" : 1,
      "channel" : 2
    }
  },
  "header" : {
    "messageId" : "MSG-ID-HERE",
    "method" : "SET",
    "from" : "http:\/\/DEVICE-IP-HERE\/config",
    "payloadVersion" : 1,

[2020-10-12 09:11] Marcwa19197 commented on #39
Im not sure if Homekit itself can show power consumptions in the UI. (Can someone please clarify this? Maybe with an Screenshot how the UI will look with an official Homekit enabled Power-Meter?)
I did a few requests with HTTP-Catcher to my Meross MSS310 - i can get all the power consumption with following request. Also i was able to get all the data which is saved in on the device.

Request send

[2020-10-15 16:33] Stetocasa opened #95 "MSS-425F - How to setup multiple Outlets"
Hello, all work well but just 1 switch appear in homekit vs 5 physical differents plugs.
Understanding that there are 5 different channels but how can add the other 4?

![image](https://user-images.githubusercontent.com/70729310/96160247-fe4b2700-0f15-11eb-8a6d-c61de0979f3a.jpeg)

[2020-10-16 02:46] #69 closed

[2020-10-16 02:59] donavanbecker commented on #95
@Stetocasa view the [Specific-Model-Configurations](https://github.com/donavanbecker/homebridge-meross/wiki/Specific-Model-Configurations) wiki. You can copy a lot of what you see here to replicate your plug in homebridge.

[2020-10-16 03:04] donavanbecker commented on #95
[code]

[2020-10-16 03:05] donavanbecker commented on #95
if you want each outlet, plus the main power then do this.
[code]

[2020-10-16 03:08] donavanbecker commented on #77
@rgoggy have you used http catcher to get the data that is being set to the plug? if not see [Getting-Credentials](https://github.com/donavanbecker/homebridge-meross/wiki/Getting-Credentials) wiki.

[2020-10-16 03:13] donavanbecker commented on #76
@LordJohnWhorfin have you used http catcher to get the data that is being set to the plug? if not see [Getting-Credentials](https://github.com/donavanbecker/homebridge-meross/wiki/Getting-Credentials) wiki.

[2020-10-16 03:14] donavanbecker commented on #35
@dragonjo84 have you used http catcher to get the data that is being set to the plug? if not see [Getting-Credentials](https://github.com/donavanbecker/homebridge-meross/wiki/Getting-Credentials) wiki.

[2020-10-16 06:06] Stetocasa commented on #95
Thanks, solved!
Just to add channel from 1 to 5

[2020-10-16 11:31] #95 closed

[2020-10-16 23:05] ziedby opened #97 "Homebridge is showing updates already done on Meross App"
Hi,

Homekit is showing both accessories with an update available even if I already updated them.
I even updated them before configuring Homebridge.

What should I do ?

Thank you

[2020-10-17 02:26] donavanbecker commented on #97
Need more info, need to see firmware and picture etc. potentially, restart homebridge.

[2020-10-17 09:06] ziedby commented on #97
Hi @donavanbecker

Thanks for your feedback.

Here is my setup:
Homebridge Plugin version : 3.2.0
Hardware version : MSS210
Hardware firmware version : 2.1.7

With some pictures showing Meross being up to date and the Home app showing an available update for both plugs.

![85E8DC8C-CBF7-4B6C-9F59-DC7B3DAC0D7E](https://user-images.githubusercontent.com/11686358/96333039-e2f03100-1067-11eb-8bf6-b52b

[2020-10-17 12:52] donavanbecker commented on #97
With the plugin being at 3.2 I don't believe this is coming from this plugin. It would have to be a lower version for it to think that.

[2020-10-19 19:20] vasilinho23 commented on #44
Hi guys,
I have the same error for Meross Power Strip, but for MSS425F:
`(node:2085) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'digest' of undefined
    at Meross.getOnCharacteristicHandler (/homebridge/node_modules/homebridge-meross/src/index.ts:352:34)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)`
My Config is:
`"accessories": [
        {

[2020-10-23 00:16] kieranmjones commented on #45
I haven’t yet had a chance to have a look at this, although the addition of other dimming devices to the plug-in gives me a good starting point so I’ll have another look as soon as I find some time.

[2020-10-25 05:24] yonigold1 opened #98 "Unable to setup my smart outlet"
**Describe Your Problem:**
I cannot seem to get my smart plug to work i get a whole bunch of weird messages in the log that i have no clue what they mean and ive tried just about everything that i know so im hoping someone can help me here

<img width="1044" alt="Screen Shot 2020-10-25 at 1 18 58 AM" src="https://user-images.githubusercontent.com/34217684/97099504-116d9d80-1660-11eb-9a8a-92288228a

[2020-10-25 06:09] yonigold1 commented on #98
I managed to fix it by removing this line this in the config:
`"model": "MSS110-1", `
so my config looks like this now
`        {
            "name": "Living Room Switch",
            "deviceUrl": "---.---.-.-",
            "channel": 0,
            "messageId": "-------------------------",
            "timestamp": ----------,
            "sign": "---------------------",
            "accessory": "

[2020-10-25 06:09] #98 closed

[2020-10-25 12:00] ChopsKingsland commented on #39
This is possible with HomeKit, because the HomeKit Eve app can show it and use it for scene triggers. https://images-na.ssl-images-amazon.com/images/I/81kpO5zCKPL._AC_SX425_.jpg

[2020-10-25 14:34] facundo59 commented on #77
The device it's a roller shutter and has 3 functions, up, down and stop.

I tried configuring it as a garage door, the most similar accessory, but it does not work unfortunately.

Let me know what any info you need and I'll post it.

`{
  "header": {
    "messageId": "1cec8d3b3973b760d4181c6dc49141e5",
    "namespace": "Appliance.System.Online",
    "method": "GETACK",
    "payloadVersion": 1,

[2020-10-25 16:56] rgoggy commented on #77
Yes
do you need something from Charles Proxy too?

`{
  "payload" : {
    "position" : {
      "channel" : 0,
      "position" : 0
    }
  },
  "header" : {
    "messageId" : "e19e6eb8cd137e5eff3f8ec39e8dd1cb",
    "method" : "SET",
    "from" : "http:\/\/10.0.1.194\/config",
    "payloadVersion" : 1,
    "namespace" : "Appliance.RollerShutter.Position",
    "sign" : "dcded76d9e710e9e1e3342516b516

[2020-10-25 22:48] rickybright commented on #45
Also looking forward to this being supported. If there's anything that we can do to assist, please let me know.

[2020-10-27 07:52] kieranmjones commented on #97
I too am seeing this with an MS210 outlet, an update was showing as available and to be fair there was so I updated the firmware in the Meross app, however it won’t now clear in the Home app. The plug-in is the latest version, as is Homebridge, and the firmware is up to date on Meross. Restarting Homebridge has no effect. I have four of these showing updates available in the Home app.
![1A81A0C9-5

[2020-10-28 16:29] lollo18888 commented on #39
Hi! Yeah, it is possible and very useful. I have updated the plugin and I have lost all my work.
I had changed the get status request into the request who return also the ampere, volt, and power info and I wrote this info into text files.
With nod-red I called every 5 minutes this and always with nod-red I set the info into an MQTT server.
With another plugin (https://github.com/arachnetech/homebr

[2020-10-28 21:53] ChopsKingsland commented on #39
so, does that mean it is possible for @donavanbecker to add it to a final release of the Homebridge plugin?

[2020-11-03 19:18] postak opened #99 "error with MSS620"
When I add the MSS620 device I start to get this errors:

[code]

add this in the config

[code]

as other devices

**Logs:**

[code]

**Homebridge Config:**

[code]

[2020-11-03 19:38] #99 closed

[2020-11-06 15:14] shehzaad10 commented on #97
Hey did you manage to resolve this issue? As I am having the same issue, both my plugs have been updated via the Meross app onto the latest firmware but Home app still thinks there is an update available and directs me to the Meross app. I have tried to remove the plugs and add them again and even updated/restarted Homebridge but the issue is still there.

[2020-11-06 15:22] kieranmjones commented on #97
I’ve not managed it no, I suspect if I was to remove the devices and clear the cache in Homebridge it would clear the issue so something is clearly getting stuck in there. This needs a fix of some kind in this plugin I guess.

[2020-11-06 15:44] shehzaad10 commented on #97
Yeah I have tried removing the plugs from Homebridge and configuring them again but no luck, even reset them within the Meross app and setup as brand new but the update bug is still there. @donavanbecker any advise?

[2020-11-06 16:30] ziedby commented on #97
Same here I tried removing them from all place. Nothing changed.

[2020-11-07 04:40] jbouganim commented on #45
@donavanbecker added basic support for the MSL-1XX bulbs if you're interested!
https://github.com/donavanbecker/homebridge-meross/pull/100

[2020-11-07 13:37] donavanbecker commented on #45
Added!

[2020-11-07 13:38] #45 closed

[2020-11-07 20:50] kieranmjones commented on #45
Working perfectly! Thank you. Sorry I couldn't get it done, just never managed to get the time to work it out.

[2020-11-07 22:32] acer589 commented on #45
Completely out of my depth here. How long does it usually take for updates to make their way to npm?

[2020-11-11 06:53] sparkplug37 opened #102 "MS100 Support"
Currently its only possible to access these devices via the smartphone application or IFTTT. Adding these great little devices to homebridge would make them really useful and not just a neat toy.

[2020-11-11 07:01] sparkplug37 commented on #102
Currently its only possible to access these devices via the smartphone application or IFTTT. Adding these great little devices to homebridge would make them really useful and not just a neat toy.

[2020-11-12 15:12] bcaro opened #103 "Android Credential"
**Describe the solution you'd like**

Hello !
Is there a solution to obtain crendential via an Android smartphone ?
thank's

[2020-11-12 15:22] donavanbecker commented on #103
https://www.charlesproxy.com/

[2020-11-12 15:22] #103 closed

[2020-11-15 13:45] Cavech84 opened #104 "homebridge reboot continuously after set meross mss310"
**Describe Your Problem:**
homebridge reboot continuously after set meross mss310 and activate the plug in. Also in the HomeKit App all devices i have installed with HomeBridge doesn't work. if i set wrong the ip of meross other devices works fine but not the meross smart plug.
Can you help me please? Am I doing something wrong?
Thanks for support

**Logs:**
[code]

**Homebridge Config:**

[code]

[2020-11-18 21:10] CocoaBob commented on #104
@donavanbecker Just searched a little bit, I think the crash happened here `response.payload.all.digest.togglex[`${this.config.channel}`].onoff;`, which was included in this [commit](https://github.com/donavanbecker/homebridge-meross/commit/ed8ccdb4340eab2cb6a7e15edeed88e0574b6755) made on Jan 13 2020.

[2020-11-20 01:52] ComeDow opened #110 "I have a problem with my Meross mss 710"
I can only switch the light on and not off :/. I have an mss 710 smart switch to turn on and off my light with the Meross app. I have it already in the home bridge and also HomeKit but I can switch the light on but not off.

The Homeride shows:

!-- [11/20/2020, 2:41:26 AM] [Licht Küche Ein] Failed to POST to the Meross Device MSS710 at "IP ADRESS": Error: connect ECONNREFUSED "IP ADRESS". -->

[2020-11-20 05:00] donavanbecker commented on #104
@Cavech84 can you test the latest beta and see if it works now?

[2020-11-20 05:02] donavanbecker commented on #110
please fill out issue template. need more info about devices, need more logs, and if you can put on homebridge debug logs that would also help.

[2020-11-20 05:26] #104 closed

[2020-11-20 15:07] Cavech84 commented on #104
yes, now it doesn't crash, thanks. But the plug not working... this is the consolle message when i try to change its status: Set failed: false. I have make a new configuration but nothing change. Is it normal that messageID,timestamp and sign changed every time when i try to get this parameters with HTTP Catcher?

[2020-11-26 15:50] eyomarc opened #118 "Add support for MSL420"
can we do this?

[2020-11-28 00:45] zpeters90 opened #120 "Add support for MSS570x dimmer switch"
Would it be possible to add support for Meross MSS570x 3 way smart dimmer switch? The current version works for my light switch but does not support the dimming function. Really appreciate your work on this and happy to contribute how I can!

[2020-11-30 19:12] matclothier opened #121 "HomeKit showing as "Update Available""
I have added a MSS210 plug and it works perfectly, but the Apple Home app shows as an update is available and a link to the Meross app.  All of the devices are up to date, can this be overridden?

[2020-11-30 19:18] donavanbecker commented on #121
can you show the firmware version of the mss210 plug in the meross app?

[2020-11-30 19:23] matclothier commented on #121
2.1.7

[Image.jpeg]
Thanks,

Mat
+44 (0)7990 591055

________________________________
From: Donavan Becker <notifications@github.com>
Sent: Monday, November 30, 2020 7:18:54 PM
To: donavanbecker/homebridge-meross <homebridge-meross@noreply.github.com>
Cc: Mat Clothier <mat.clothier@cloudhouse.com>; Author <author@noreply.github.com>
Subject: Re: [donavanbecker/homebridge-meross] HomeKit showing as

[2020-11-30 19:25] matclothier commented on #121
![EF948D5E-7339-41B4-88CF-1E0CA259F506](https://user-images.githubusercontent.com/55290749/100654454-b9eadd80-3341-11eb-91b1-8cd77f296a82.png)

[2020-11-30 21:05] donavanbecker commented on #121
there must be something else that is catching this, since the plugin version is v3.x.x

[2020-11-30 21:07] matclothier commented on #121
In Apple Home is shows as 3.4 which is the plug-in version.

![9A84D524-4AC5-44D3-BD33-6D91511AB748](https://user-images.githubusercontent.com/55290749/100665037-0e955500-3350-11eb-980d-679ae1bee247.png)
![DF52D30E-DE2D-4ECC-9588-4579AE511A90](https://user-images.githubusercontent.com/55290749/100665093-10f7af00-3350-11eb-88b2-c87a101c74f8.png)

[2020-11-30 21:08] matclothier commented on #121
It shows ad up to date in the Meross app.

![D0F070E0-99F9-4A42-8D3A-A7431FBC45BB](https://user-images.githubusercontent.com/55290749/100666015-413f4d80-3350-11eb-9bae-0be7bd8428bd.png)

[2020-12-01 01:09] zpeters90 commented on #120
Also, it looks like this was done for a mss560 switch already, is it possible for me to just classify the switch as a 560 to get the brightness controls?

[2020-12-02 06:03] #110 closed

[2020-12-02 14:51] matclothier commented on #121
Hi, any ideas how to fix this?

[2020-12-06 12:47] ThomasTom86 commented on #50
Hello! I'm new here and have a problem. Since yesterday I have been trying to connect my meross sockets to homebridge. I have an MSS310 (firmware 1.1.18 / hardware 1.0.0) and an MSS210 ( firmware 1.1.12 / hardware 1.0.0). I added both to homebridge as described in the description, unfortunately they cannot be switched via homebridge / home app.
Thank's Tom

[06/12/2020, 13:43:20] [Aquarium Licht]

[2020-12-06 15:13] MichaelMichaelMichaelMichaelMichael opened #124 "MSL320CHK support"
**Is your feature request related to a problem? Please describe.**
The MSL320CHK is perfectly working as an Outlet, I can switch it on and off. So, no problem so far.

**Describe the solution you'd like**
I'd like to see this plugin to control the MSL320CHK as a lightbulb or LED stripe, i.e. color, brightness, etc. should be controllable.

**Describe alternatives you've considered**
No idea, sorry

[2020-12-06 15:18] MichaelMichaelMichaelMichaelMichael commented on #124
Just an Idea - the project [MerossIot](https://github.com/albertogeniola/MerossIot) has a very nice sniffer which catches the MQTT commands being sent around and which gathers every action sent out from the App to the Device. Wouldn't that be an idea to get the controllable properties of a Device?

[2020-12-06 19:17] donavanbecker commented on #124
@MichaelMichaelMichaelMichaelMichael If you implement it, we would definitely accept the PR. Was thinking of doing it but it would take a lot of my time right now.

[2020-12-06 21:08] MichaelMichaelMichaelMichaelMichael commented on #124
Currently, I'm also a bit short of time and that's why I'd rather contribute by testing and filing in observations. What I did though: I've duplicated those (same) two lines
` case 'MSL-100':`
and I've added
` case 'MSL320CHK':`
in that context (twice, as mentioned: [here](https://github.com/donavanbecker/homebridge-meross/blob/master/src/index.ts#L213) and [here](https://github.com/donavanbecker/

[2020-12-08 01:07] MichaelMichaelMichaelMichaelMichael commented on #124
Testing around I was able to set some colors, but I must say, the plugin is no other use for me other than switching on and off the LED stripe or setting a color out of an automation. It has nothing to with your plugin, it's obviously the flooding protection from the Device side. When changing colors, I use a [Müller Licht MLI-404011 via Zigbee2MQTT](https://www.zigbee2mqtt.io/devices/MLI-404011.h

[2020-12-08 01:35] MichaelMichaelMichaelMichaelMichael opened #126 "Flooding of commands"
**Describe The Bug:**
If commands are being sent too quickly (for example a sequence of color changes), some sort of flood protection kicks in (in my case an LED stripe MSL320CHK) and the target device is no longer reachable until you stop the commands and then resume after a while.
So I've tried to capture some network packets using [tshark](https://www.wireshark.org/docs/man-pages/tshark.html) w

[2020-12-09 19:21] AndrewReaganM opened #130 "Outdoor Plug mss620"
Hello!

In setting up this plugin today I was able to connect my garage door very easily, however I ran into an issue with my outdoor plug mss620. Specifically, the HomeBridge error is:
[code]
### Config
[code]

Any idea where I should start looking?

Thanks in advance!

[2020-12-09 19:32] donavanbecker commented on #130
@AndrewReaganM why is your deviceURL different on your two "model": "MSS620" accessories?

[2020-12-09 19:35] AndrewReaganM commented on #130
Wow, I feel really dumb for that. Thank you for pointing that out, my mistake!

[2020-12-09 19:35] #130 closed

[2020-12-09 21:54] donavanbecker commented on #130
@AndrewReaganM your good!

[2020-12-10 17:01] bywalec1 commented on #121
I have the same problem. My plugin symbol, plugin firmware in Meross and Homekit are also the same.

[2020-12-10 22:53] donavanbecker commented on #121
@bywalec1 and @matclothier,

Can you test the latest beta and then input a firmware version higher then the one for your outlet and let me know if it goes away.

[2020-12-10 23:13] matclothier commented on #121
The plugs don’t work in Homebridge or home at all with the new beta. I tried with the working confit from before and with adding the new options.

[2020-12-10 23:25] donavanbecker commented on #121
@matclothier Do you have errors you can provide?

[2020-12-10 23:35] matclothier commented on #121
Error -113 for all 3 devices.
![AF816B6D-E7D8-4C6D-B254-7042520067C6](https://user-images.githubusercontent.com/55290749/101842606-53836d80-3b40-11eb-9840-d83678c3321e.jpeg)

[2020-12-11 02:12] donavanbecker commented on #121
@matclothier I would check again? because I am not getting this.

[2020-12-11 02:18] donavanbecker commented on #97
#121

[2020-12-11 02:18] #97 closed

[2020-12-11 12:37] matclothier commented on #121
OK, it looks like it is working now and the update notice has gone away.  Thanks for sorting this.

[2020-12-11 13:19] donavanbecker commented on #97
@ziedby @kieranmjones @shehzaad10 can you check out #121? And install latest beta?

[2020-12-11 13:20] donavanbecker commented on #121
@matclothier You can actually set the firmware in the plugin settings on Homebridge UI.

[2020-12-11 14:32] bywalec1 commented on #121
Everything works fine now. Thank you very much.

[2020-12-15 13:53] loop2 opened #136 "No data to sniff"
**Describe Your Problem:**
Plug MSS210. I can't sniff the MessageID etc from HTTP Catcher... I see only a connection to the Meross server...
The procedure was changed?
thanks a lot

[2020-12-16 21:09] johnmullaney commented on #126
I have encountered this error too
It only occurs for me when I add a second MSL-120 Bulb
With just one it works fine

Homebridge 1.2.4
homebridge-meross v3.4.1-beta.1

OS: Raspbian GNU/Linux Buster (10)
Hostname: homebridge

Node ver: v14.15.1
Npm ver: v6.14.8
Service Mode: Yes

Logs:

[16/12/2020, 20:57:40] [Office Light] Failed to POST to the Meross Device MSL-120 at 192.168.0.20: Error: socket

[2020-12-16 21:13] johnmullaney commented on #121
The beta resolved issue for me too - Thanks

[2020-12-17 07:39] arggasasao commented on #102
Yes! please!
Very nice work with the plugin.
Make the Smart Temperature sensor compatible with homebridge!
thks

[2020-12-18 16:03] pinityoufairy opened #138 "Issue with Meross MSS210 plugs"
**Describe Your Problem:**
I have connected four Meross MSS210 plugs to the Meross app on iOS. I have sniffed the sign, timestamp and message ID using HTTP Catcher, and input the values. However, I get the following error in the log, and the switch is unresponsive.

**Logs:**
[18/12/2020, 15:56:47] [Bedside Lamp] calling getOnCharacteristicHandler for MSS210 at 192.168.1.158...
[18/12/2020, 15:56:

[2020-12-18 16:20] pinityoufairy commented on #138
When i trigger it on and off in homekit, homekit shows it turning on and off, but nothing actually happens to the switch. This error is reported in Homebridge logs:

[18/12/2020, 16:18:59] [Bedside Lamp] Failed to POST to the Meross Device MSS210 at 192.168.1.158: Error: connect EHOSTUNREACH 192.168.1.158:80
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1146:16) {
  errno: -113,
  cod

[2020-12-18 16:31] pinityoufairy commented on #61
I have this exact issue, was any progress made? Sorry i missed this before posting a new issue

[2020-12-19 20:01] #121 closed

[2020-12-20 14:51] remino opened #143 "Force device type?"
**Describe Your Problem:**

I updated Node, Homebridge, and the Meross and UI plug-ins this week. Since then, I have some MSS110 devices set up to display as power outlets in the Meross app on iOS and yet they show up as lights in the Home app and Homebridge UI.

Is there a way to change the type of a device to a power outlet instead of a light?

**Environment:**

* **Node.js Version**:  14.15.3
*

[2020-12-20 14:58] remino commented on #143
I just reverted the Meross plugin to 3.1.0 and that seems to fix the issue. Maybe it's a bug?

[2020-12-23 13:14] MikeyBoy1977 opened #149 "Ass support forMSL420 night light"
**Is your feature request related to a problem? Please describe.**

Please can you add support for the MSL420 night light - https://www.meross.com/product/22/article/

**Describe the solution you'd like**

TO be able to see the accessory in Home app

**Describe alternatives you've considered**

**Additional context**

[2020-12-24 13:55] megabashment commented on #138
I got the same problem. I have the MS 310 working without a problem. Now adding new MS 210 for my christmas tree but it doesn´t work.

[24/12/2020, 14:49:50] xx 3] Failed to POST to the Meross Device MSS210 at 192.168 178.76: Error: connect ETIMEDOUT 192.0.0.168:80
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1146:16) {
  errno: -110,
  code: 'ETIMEDOUT',
  syscall: 'connect',
  addr

[2020-12-24 22:35] tonystower commented on #138
Same here! With two MSS210 plugs. V frustrating, hope a solution can be found soon.

[2020-12-27 01:48] dakotaduff opened #150 "Changes at switch can take several minutes to reflect in Homebridge"
**Describe The Bug:**

Changes to a Meross electrical switch state at the wall can take several minutes to be reflected in Homebridge, if they ever are automatically reflected, so any automations which are triggering off of these state changes are similarly delayed. Triggering a polling event by requesting the Homebridge accessory page or triggering a change with a Meross accessory updates the sta

[2020-12-27 12:48] donavanbecker opened #151 "Meross Cloud Support - Alpha Testers Needed"
**Describe the solution you'd like**

Meross cloud support so that devices are automatically added when added to meross account.

**Describe alternatives you've considered**

If you would rather see local support stay and create a different plugin please let me know.

**Additional context**

Needing Alpha testers, so that I can get more device responses so that it is easier to add support for othe

[2020-12-27 12:50] donavanbecker commented on #151
This will not a lot you to control your outlet, but if you can install the latest beta and post your device response so that I have something to go off of, that would help!
To install use Homebridge UI and update other version:

[2020-12-27 14:04] #136 closed

[2020-12-27 15:33] donavanbecker commented on #136
@loop2 See #151

[2020-12-27 15:33] donavanbecker commented on #150
See #151

[2020-12-27 15:33] donavanbecker commented on #149
See #151

[2020-12-27 15:34] donavanbecker commented on #143
See #151

[2020-12-27 15:43] donavanbecker commented on #138
See #151

[2020-12-27 15:43] donavanbecker commented on #126
See #151

[2020-12-27 15:43] donavanbecker commented on #124
See #151

[2020-12-27 15:43] donavanbecker commented on #120
See #151

[2020-12-27 15:43] donavanbecker commented on #118
See #151

[2020-12-27 15:44] donavanbecker commented on #102
See #151

[2020-12-27 15:44] donavanbecker commented on #77
See #151

[2020-12-27 15:44] donavanbecker commented on #76
See #151

[2020-12-27 15:44] donavanbecker commented on #61
See #151

[2020-12-27 15:44] donavanbecker commented on #39
See #151

[2020-12-27 15:44] donavanbecker commented on #35
See #151

[2020-12-27 15:45] donavanbecker commented on #59
See #151

[2020-12-27 15:54] dakotaduff commented on #151
[code]

[2020-12-27 15:54] ChopsKingsland commented on #151
I was just about to comment that, Homebridge doesn't start because of this

[2020-12-27 16:06] sparkplug37 commented on #151
Very excited about this update, but alas I too get the same error: Error: The requested accessory 'Meross' was not registered by any plugin.

[2020-12-27 16:53] donavanbecker commented on #151
@dakotaduff @ChopsKingsland Yes this is because the plugin would be changing from accessory to platform. So you would have to remove the accessory from the accessory part of config.json.

[2020-12-27 16:54] donavanbecker commented on #151
@sparkplug37 The plugin is not functional yes, since I need to get more info on each meross device so I can implement it.

[2020-12-27 16:55] ChopsKingsland commented on #151
Does it automatically add all of my accessories, or do I have to add them under platforms?

[2020-12-27 17:25] rgoggy commented on #151
`[27.12.2020, 18:22:30] [Meross] {"uuid":"2006092467183890815448e1e91e731b","onlineStatus":1,"devName":"Rolladen","devIconId":"device063_eu","bindTime":1601190448,"deviceType":"mrs100","subType":"eu","channels":[{}],"region":"eu","fmwareVersion":"2.1.2","hdwareVersion":"2.0.0","userDevIcon":"","iconType":1,"skillNumber":"","domain":"mqtt-eu.meross.com","reservedDomain":"mqtt-eu-alter.meross.com"}

[2020-12-27 17:27] rgoggy commented on #151
Only mrs100 has no HomeKit. mss210, mss425e and mss510x have already HomeKit

[2020-12-27 17:43] pinityoufairy commented on #151
@rgoggy not all MSS210 are HomeKit natively; mine aren’t.

[2020-12-27 17:44] pinityoufairy commented on #151
![Uploading 0FE35A5C-4400-4855-B1F0-A01604921865.jpeg…]()

[2020-12-27 19:40] donavanbecker commented on #151
Thanks everyone so far. I actually decided that I am going to keep this plugin as is and create a different plugin so that if people still want to use this one they can, I just won't support it as much. the new one is [homebridge-meross-cloud](https://github.com/donavanbecker/homebridge-meross-cloud). Same as this beta just different name and config will be MerossCloud instead of Meross so you won

[2020-12-27 22:06] pinityoufairy commented on #151
![6ED96D0A-E65A-4221-98DC-DDAF377829D3](https://user-images.githubusercontent.com/76183916/103180663-b3437d80-488f-11eb-984d-bcc86c72e37e.png)
![10179B8E-EA7F-4503-94F1-F61B67EB5854](https://user-images.githubusercontent.com/76183916/103180664-b474aa80-488f-11eb-976c-63d06f39c6b2.png)
![D78B9176-B829-4B99-9174-5786B8A7AC9D](https://user-images.githubusercontent.com/76183916/103180665-b50d4100-488f

[2020-12-27 22:49] donavanbecker commented on #151
@pinityoufairy you can just download your log file on mobile. Having the actual text will make it easier.

[2020-12-27 23:08] dakotaduff commented on #151
[code]

[2020-12-28 00:30] zpeters90 commented on #151
I signed into the new cloud beta. Should I uninstall this one?

[2020-12-28 02:43] donavanbecker commented on #151
No, because the beta doesn't doesn't allow you to control any of your plugins. The purpose of installing this right now is to get device data so that I can know what I need to add.

[2020-12-28 03:45] zpeters90 commented on #151
Makes sense! Thank you for all your efforts here!

[2020-12-29 16:15] #126 closed

[2020-12-29 23:01] ericlim1226 commented on #151
getting this message when I installed Meross Cloud
12/29/2020, 2:56:38 PM [MerossCloud] A Meross Device has been discovered with Device Type: mss560x, which is currently not supported. Enable Device Discovery on Plugin Settings, Then Submit Meross Cloud Info Here: https://git.io/JLD51.
12/29/2020, 2:56:38 PM [MerossCloud] A Meross Device has been discovered with Device Type: mss560x, which is curr

[2020-12-30 20:13] nunoftheabove opened #158 "MSS310 issue --> continuing "Set failed: false""
retrieved all relevant data using http catcher. Plug is visible but cannot be switched on/off via homebridge. Error: Set failed: false

**To Reproduce:**
- run http cacher and start collecting data
- open Meross app
- switch on MSS310 plug in meross app
- stop collecting data in http catcher
- retrieve messageID, timestamp and sign from JSON response
- input data in meross-homebridge plugin via fo

[2020-12-30 20:19] donavanbecker commented on #158
this plugin is created for Homebridge not HOOBS. I don't have HOOBS and don't support it. I would recommend migrating to homebridge and then if you are still having issues I would be able to help you out.

[How-To-Migrate-From-HOOBS-To-Homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge)

[2021-01-01 02:13] Hedrakk commented on #151
Hi,

This (Github, Homebridge/Hoobs, Homekit in general) is all new to me. I've install **_Meross Cloud 0.1.1-beta.0_**in my newly setup Hoobs bridge in order to control my **Meross Smart Switch MS510x** and I wasn't able to get it to work as I did with my Tuya Smart Plugs.

When I looked at my Hoobs Logger, I notice that it did find my Meross Smart Switches but let me with a message like this:
_3

[2021-01-01 02:18] forresthamilton commented on #151
Let me know what devices you would like me to purchase so you can further expand the support devices.

[2021-01-01 02:19] forresthamilton commented on #151
From my understanding, this is just so the OP can add support for all devices. This helps him know what devices are being used.

[2021-01-01 02:27] Hedrakk commented on #151
Please add support for Meross MSS510x.

Thank you.

[2021-01-01 02:28] forresthamilton commented on #151
Already listed.

[2021-01-01 02:31] ericlim1226 commented on #151
Please add support for Meross mss560x

On Thu, Dec 31, 2020 at 6:28 PM forresthamilton <notifications@github.com>
wrote:

--
Eric Lim

*M: 2139052719*
*F:  2134022802*

[2021-01-01 15:19] mientki opened #159 "Support for MTS100H Smart Thermostat Valve"
Will the plugin support radiator thermostats in the future? I am planning to buy these heads and I do not know whether to go this way.

[2021-01-01 15:20] #159 closed

[2021-01-01 19:23] ronnieSVK commented on #151
Hi Donavan ! Hope this helps 👍

[1/1/2021, 8:16:52 PM] [Meross] {"uuid":"2005285880511390814248e1e91d83bc","onlineStatus":1,"devName":"Master Bedroom Switch","devIconId":"device020_eu","bindTime":1601361096,"deviceType":"mss425e","subType":"eu","channels":[{},{"type":"Switch","devName":"Switch 1","devIconId":"device001"},{"type":"Switch","devName":"Switch 2","devIconId":"device001"},{"type":"Switc

[2021-01-03 14:56] nunoftheabove commented on #158
Same issue with Homebridge

I installed fresh from homebridge.io
Kernel version: 5.4
Node.js Version: v14.15.1
Homebridge Version: v1.1.6
Homebridge Config UI X Version: v4.36.0

{
    "bridge": {
        "name": "Homebridge 73F4",
        "username": "0E:**:BA:**:73:**",
        "port": 51895,
        "pin": "***-**-***"
    },
    "accessories": [
        {
            "model": "MSS310",

[2021-01-05 10:37] facundo59 commented on #151
There I go :)

Just an idea: Some Meross devices are already HK native (in my case, almost all of them). It would be nice to have them excluded to prevent duplicates.

[code]

[2021-01-06 13:26] DenR2 commented on #158
Hi @donavanbeckern, i have the same issue

**Environment:**
Node.js Version: v12.19.0
NPM Version: 6.14.8
Homebridge Version: 1.2.5
Homebridge Meross Plugin Version: 3.4.1
Operating System: Alpine Linux (3.12.0)
Homebridge config-ui-x v4.36.0

Homebridge is running with Docker using Container station on a Qnap TS251+

[2021-01-06 13:37] hectorkd commented on #138
My mss210 plugs are working perfectly in HomeKit but it shows they have an update available in the Meross app but when I go there it says they're all up to date?
![IMG_1514](https://user-images.githubusercontent.com/62357077/103774356-56309000-5024-11eb-82b8-55cdbd26e827.PNG)
![IMG_1516](https://user-images.githubusercontent.com/62357077/103774366-592b8080-5024-11eb-8c0c-b4761fdbaab2.PNG)

[2021-01-06 13:49] pinityoufairy commented on #138
Worth pointing out there are at least 2 flavours of MSS201, one HomeKit natively enabled and one not. I would suggest you don’t connect your HK enabled MSS210 through home bridge, just connect straight to Home

[2021-01-06 22:34] remino commented on #143
#151 isn’t addressing the issue described here, or at least not directly. It’s about what I read is going to become a new plugin for Meross cloud support.

I’m just not going to update the plugin, as the old one is working got me, and wait.

[2021-01-08 12:18] sapi100 commented on #151
Please add support for Meross mod100 Oli Diffusere
My other Meross device is Homekit supportet

8.1.2021 13.10.49 [MerossCloud] A Meross Device has been discovered with Device Type: mod100, which is currently not supported. Enable Device Discovery on Plugin Settings, Then Submit Meross Cloud Info Here: https://git.io/JLD51.
8.1.2021 13.10.49 [MerossCloud] A Meross Device has been discovered with D

[2021-01-08 16:19] #150 closed

[2021-01-08 16:20] #149 closed

[2021-01-09 12:00] AaronSpan commented on #151
hi @donavanbecker , as discussed last time. Here you can find my output regarding unsupported device "meross MRS 100 roller shutter". 09/01/2021, 12:57:35 [MerossCloud] {"uuid":"2006099046885790815448e1e91e77d1","onlineStatus":1,"devName":"Rollladen Büro","devIconId":"device063_eu","bindTime":1609278275,"deviceType":"mrs100","subType":"eu","channels":[{}],"region":"eu","fmwareVersion":"2.1.2","hdw

[2021-01-12 15:56] nunoftheabove commented on #158
@donavanbecker HI, any ideas?

[2021-01-12 16:24] ajhubs opened #166 "If one Meross device is accidentally turned off, all Meross devices on that homebridge show as "No Response""
**Describe The Bug:**

I have several Meross devices (8 sockets, 2 lightbulbs) on the same homebridge, some times one might get accidentally turned off, when this happens obviously the homebridge can no longer contact it, when I look at the apple home app all meross devices show as "No Response" in red, and stay that way until the device is re powered.  I have found that if you activate them they

[2021-01-13 17:20] tsillo commented on #151
hi @donavanbecker , hope this helps, i have a meross humidifier (MSXH0):

13/1/2021 18:19:20] [MerossCloud] {"uuid":"1909290202486290803148e1e952f99e","onlineStatus":1,"devName":"Humidificador","devIconId":"device047_un","bindTime":1608044627,"deviceType":"msxh0","subType":"un","channels":[{}],"region":"eu","fmwareVersion":"3.1.5","hdwareVersion":"3.0.0","userDevIcon":"","iconType":1,"skillNumber"

[2021-01-17 05:23] MrJer commented on #143
Proposed #170 to fix this problem

[2021-01-17 06:01] donavanbecker commented on #143
@MrJer I have pushed through your PR! Thanks! It is in the beta branch which will push a new beta if that want's to be tested out?

[2021-01-17 06:06] MrJer commented on #143
@donavanbecker happy to help! Just pulled down v3.4.2-beta.4 and MSS110-2 is showing correctly as outlet now.

[2021-01-22 13:27] Mikesmolto opened #181 "Aroma diffuser MOD100"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Hi, I Wonder if you plan adding the diffuser model MOD100 to your plugin?

**Describe alternatives you've considered**

**Additional context**
Thanks a lot

[2021-01-26 03:14] KurisuWong commented on #151
hi @donavanbecker, I got a Meross WiFi Power Stripe (MSS426F)

[1/26/2021, 11:11:02 AM] [MerossCloud] A Meross Device has been discovered with Device Type: mss426f, which is currently not supported. Enable Device Discovery on Plugin Settings, Then Submit Meross Cloud Info Here: https://git.io/JLD51.

[2021-01-26 21:49] caseypugh commented on #138
I'm also getting this same exact error with MSG200 (smart garage opener, firmware 2.1.3 - hardware 2.0.0). When I first set this up, it was working great for a couple weeks. As of today it has completely stopped and getting this message non-stop in Homebridge logs

[code]

My config
[code]

I wonder if it got a firmware update automatically and the API format has changed? I also tried to update th

[2021-01-28 15:21] firebotQL commented on #151
hi @donavanbecker
1/28/2021, 3:13:39 PM [Meross Personal Account] A Meross Device has been discovered with Device Type: mss310, which is currently not supported. Enable Device Discovery on Plugin Settings, Then Submit Meross Cloud Info Here: https://git.io/JLD51.

This page was also linked [https://github.com/donavanbecker/homebridge-meross/issues/39](url) issue. I was interested in all the energy

[2021-01-29 12:10] donavanbecker commented on #151
@firebotQL thanks for let me know. if you look at the beta branch of https://github.com/donavanbecker/homebridge-meross-cloud, you will see that I am getting close to getting this implemented if you want to fork that branch and work on adding support to mss310, I would be more then open to merge a PR.

[2021-01-29 15:49] VinceRedmount opened #185 "Please add support Device Type: hp110a Cherub Baby Machine"
Hi

Would it be possible to add support for Cherub baby Machine ?

Device link below :

https://meross.com/product/53/article/

Thanks a lot for your work

[2021-01-29 15:50] #185 closed

[2021-01-31 23:19] dragonjo84 commented on #35
Sorry for the long time with a y response
Si what do you do with http catcher please ?

[2021-02-01 10:16] Swisyn commented on #151
Hope this helps, I have plenty of plugs and power surge from meross.
`[2/1/2021, 11:12:38 AM] [MerossCloud] {"uuid":"19062060771894251h0848e1e9006106","onlineStatus":1,"devName":"Smart Plug","devIconId":"device024","bindTime":1609371271,"deviceType":"mss310","subType":"eu","channels":[{}],"region":"eu","fmwareVersion":"2.1.12","hdwareVersion":"2.0.0","userDevIcon":"","iconType":1,"skillNumber":"",

[2021-02-08 12:13] SimonLawson70 opened #193 "Discovery log"
This is my discovery log, hope it helps

There are two non-Homekit extensions, two Homekit extensions, two non-Homekit plugs and a HomeKit light strip - these are all UK versions of the products. Really hope there is going to be a way to exclude the Homekit compatible devices so we don't end up with duplicate entries in the Home app.

[2/8/2021, 12:08:28 PM] Homebridge v1.3.0-beta.53 (MerossCloud)

[2021-02-12 07:55] facundo59 opened #306 "Add Support for MRS100 Rolling Shutter Switch"
**Is your feature request related to a problem? Please describe.**

Please support the Meross Smart Rolling Shutter MRS100 .

**Describe the solution you'd like**

For this Rolling Shutter device MRS100 to be available in Homekit.

**Describe alternatives you've considered**

This device sadly does not even have a Homekit compatible version.

**Additional context**

`[05/01/2021, 11:33:33] [Meross

[2021-02-13 21:08] #61 closed

[2021-02-13 21:08] #118 closed

[2021-02-13 21:08] #138 closed

[2021-02-14 01:39] tphalp commented on #120
FYI, I set my 570 as a 560, and the dimmer functionality works in the Home app.

[2021-02-14 03:05] zpeters90 commented on #120
How did you set it as a 560?

[2021-02-14 03:20] Lui5Jacint0 commented on #77
@rgoggy @facundo59 did you get it ti work?

[2021-02-14 07:57] rgoggy commented on #77
No I’m waiting for the cloud implementation from @donavanbecker

[2021-02-16 15:11] tphalp commented on #120
I just chose the 560 in the homebridge Meross plug-in config, instead of the 570.

[2021-02-17 08:43] bosco90 opened #204 "HomeBridge 1.3.0"
Hi,
Just wanted to let you know how the plugin works with Homebridge 1.3.0 Beta.

**Describe The Bug:**

In the Home app everything works fine, just a new log appears at every device status change (On > Off, Off > On)

**To Reproduce:**

Install Homebridge 1.3.0 Beta

**Expected behavior:**

N/D

**Logs:**

[17/2/2021, 09:20:17] [Presa] MSS425E turned Off
[17/2/2021, 09:20:17] Received warning for

[2021-02-20 17:22] SemoTech commented on #204
Same issue continues after the release of Homebridge 1.3.0, indicating this issue is with the plugin.

LOGS: `Received warning for the plugin 'homebridge-meross' from the characteristic 'On': SET handler returned write response value, though the characteristic doesn't support write response!`

ENVIRONMENT:

Node.js version: v14.15.5
Npm version: v7.5.4
Homebridge version: v1.3.0 (release)
Homebrid

[2021-02-20 17:39] donavanbecker commented on #204
Yes this is something with homebridge v1.3.0 that it is displaying. If someone wants to do a PR to fix this I will accept it. If not. I will work on correcting it when I have my other 2 main plugins working good with homebridge v1.3.0

[2021-02-21 23:24] yonigold1 opened #207 "Meross MSG200 (HK not working through this plugin)"
**Describe The Bug:**
After setting up the device correctly using the Http catcher the garage door wont close or open or register the correct state

the plugin or something else isn't working I'm really not sure what the root of the problem is
**To Reproduce:**
Just try to add a MSG200 HomeKit version to your homebridge setup and attempt to open or close it

**Expected behavior:**
The garage to op

[2021-02-21 23:28] yonigold1 commented on #207
Never mind i fixed it i just changed the device channel from 0 to 1

[2021-02-21 23:28] #207 closed

[2021-02-23 15:23] phate300 commented on #151
[23/2/2021, 12:46:28] [MerossCloud] {"uuid":"1909187836520990802048e1e9523588","onlineStatus":1,"devName":"Presa","devIconId":"device045_it","bindTime":1580576565,"deviceType":"mss310r","subType":"it","channels":[{}],"region":"eu","fmwareVersion":"2.1.4","hdwareVersion":"2.0.0","userDevIcon":"","iconType":1,"skillNumber":"","domain":"mqtt-eu.meross.com","reservedDomain":"mqtt-eu-alter.meross.com"}

[2021-02-25 18:01] Lui5Jacint0 opened #214 "Accessory simulations"
Is there any way to use accessory simulations with this plugging similar to eWeLink plugging?

[2021-02-25 18:01] #214 closed

[2021-02-25 21:42] Lui5Jacint0 opened #215 "Accessory simulations"
**Is your feature request related to a problem? Please describe.**

It’s not a problem, is more a visual asset in HomeKit.

**Describe the solution you'd like**

I would like to see implementation of the accessory simulations like the eWeLink plugging to transform switches and lights into other HomeKit accessories (door locks, water valves etc).

**Describe alternatives you've considered**

**Addi

[2021-02-26 05:15] donavanbecker commented on #151
v1.0.0 has been released with support for mss110. I will close this issue and use any logs that have been provided here if needed to try to add additional devices.

[2021-02-26 05:15] #151 closed

[2021-02-28 08:04] Perilax-De opened #217 "Several log entries"
**Describe Your Problem:**
I get from time to time (in a period from 10-40 minutes) the same log entry.

**Logs:**

[28.2.2021, 08:44:28] [homebridge-meross] This plugin generated a warning from the characteristic 'Obstruction Detected': characteristic value expected boolean and received undefined. See https://git.io/JtMGR for more info.

**Homebridge Config:**

{
"model": "MSG100",
"name": "Garag

[2021-03-01 10:36] mag2007 opened #218 "Support for Refoss RSG100 (same as MSG100)"
**Describe Your Problem:**
I am trying to use your plugin with my Refoss door opener RSG100. I could show it under my Homekit, when I set my model name to MSG100. Refoss is same as Meross. The account used for the app can be used on the both apps. Firstly, I added my garage door opener in the Refoss app, but then I downloaded the Meross app, and my garage door opener was inside the app. I am not s

[2021-03-02 00:21] juanfal opened #219 "Warning from the characteristic 'On'"
Each time you access any Meross device through the plugin, it returns

`[2/3/2021 1:07:13] [homebridge-meross] This plugin generated a warning from the characteristic 'On': SET handler returned write response value, though the characteristic doesn't support write response. See https://git.io/JtMGR for more info.
`

[2021-03-02 00:22] #219 closed

[2021-03-02 13:49] zonak commented on #217
Seeing the same thing in the same setup (fresh install).

[2021-03-02 16:35] juanfal opened #222 "HomeBridge critically slowed down by Meross plugin"
**Describe The Bug:**
Each time you access any Meross device through the plugin, it returns

[code]

**To Reproduce:**
You only have to use it, and the HomeBridge Console will display the message shown above.  Answers to HB are incredibly slow, up to a point it takes seconds to update the Meross state

**Expected behavior:**
Normal, previous to last version, behaviour could be great.

**Logs:**

[

[2021-03-02 19:01] SemoTech commented on #204
Just an FYI that the issues still persist even with latest Homebridge v1.3.1

[2021-03-02 20:02] donavanbecker commented on #204
Pull Request are welcome!

[2021-03-02 22:28] kaganae commented on #222
Not to pile on, but just to confirm that I am getting the same issue:

Node.js Version | v14.15.4
NPM Version | v6.14.10
Homebridge | v1.3.1
Homebridge Meross Plugin Version: homebridge-meross v3.5.0

[3/2/2021, 3:45:12 PM] [homebridge-meross] This plugin slows down Homebridge. The read handler for the characteristic 'On' was slow to respond! See https://git.io/JtMGR for more info.
[3/2/2021, 3:49

[2021-03-03 17:05] czm97176 commented on #222
went back to 3.5 to fix those issue. 4.0 is not working

[2021-03-03 17:45] donavanbecker commented on #222
I am working on 5.0 actually because I wasn't happy with 4.0.

5.0 will move over to platforms, and will need a lot of testing, when beta is available.

[2021-03-03 20:42] Frankdoc opened #225 "TypeError: callback is not a function"
After updating the plugin to the latest version I see in the log:

TypeError: callback is not a function

In homekit it shows the accessory ( MSG100) as 'not reacting'. However the button works when you press it ( garage door opens and closes) but status is not updated.

[2021-03-03 20:42] #225 closed

[2021-03-03 20:45] Frankdoc opened #226 "TypeError: callback is not a function"
**Describe The Bug:**

TypeError: callback is not a function

**To Reproduce:**

Opening homekit shows the device as 'not reacting', however it does work; but status ( open or close for my garage door msg100) does not show

**Expected behavior:**

active device with open/close status

**Logs:**

[code]

**Homebridge Config:**

[code]

**Screenshots:**

# **Environment:**

- **Node.js Version**: v1

[2021-03-03 23:17] donavanbecker commented on #226
Won't be able to troubleshoot till I get more detail about your setup. As the template has in it. Please fill it out. Thanks!

[2021-03-04 03:07] donavanbecker opened #228 "Beta v5.0.0"
##  [Beta Version 5.0.0](https://github.com/donavanbecker/homebridge-meross/pull/227)

### Breaking Changes

- The Plugin has been been changed from an `accessory` type to a `platform` type.
- You will have to change you config completely if you update to this version.
  - You can take your current `accessory` and move it to the platform config.
  - Example:
   #### Before:
[code]
   #### After:
[

[2021-03-04 03:09] donavanbecker commented on #222
Beta v5.0.0 is out #228

[2021-03-04 03:11] donavanbecker commented on #218
@mag2007 could you by chance install the cloud version of this plugin?

[homebridge-meross-cloud](https://github.com/donavanbecker/homebridge-meross-cloud) and then turn on the deviceDiscovery feature and get me the output? I might be able to add this support if I can see how commands are being sent.

[2021-03-04 03:48] MrJer commented on #228
Tested this with my MSS110-2s and they were working fine 👍

[2021-03-04 07:04] LordJohnWhorfin commented on #218
I also had a Refoss RSG100 and it's been working fine using the Meross MSG100 settings.
Wladislav, in your Homebridge config,

            "messageId": "messageIDFromHTTPCatcher",
            "timestamp": timestampFromHTTPCatcher,
            "sign": "signFromHTTPCatcher",

should be configured with information you collect by installing a free app called HTTPCatcher on your phone, which lets you s

[2021-03-04 07:15] mag2007 commented on #218
For this plugin, I did everything as the instruction said. I can see the garage opener in HomeKit but it does not respond. See log. I just needed to setup the model to MSG100 instead RSG100. The placeholders from my config are from the HTTP catcher. I tried multiple different responses.

I already installed the meross cloud, it could find the garage opener, but it says, it does not support it. Her

[2021-03-04 07:29] LordJohnWhorfin commented on #218
I didn't use MerossCloud (it wasn't available when I set up my RSG100), all I did was set it up as an MSG100 (like you did), I just followed the instructions on the [wiki configuration page](https://github.com/donavanbecker/homebridge-meross/wiki/Getting-Credentials) to obtain the messageID, timestamp and sign values, and updated my config with those values.

[2021-03-04 07:46] mag2007 commented on #218
Weird...I did everything you described. Maybe I will try later on again with new data from HTTP catcher.

[2021-03-04 09:35] Frankdoc commented on #226
edited

[2021-03-04 18:19] donavanbecker commented on #228
@MrJer I have pushed another update out. Can you test it out and make sure it is still working?

Beta:`v4.0.1-beta.4`

[2021-03-04 19:10] ash123-germany opened #229 "Hoobs crashed after update with this package"
**Hoobs crashed after update with this package**

4.3.2021, 19:50:25 npm
4.3.2021, 19:50:25  WARN notsup Unsupported engine for homebridge-meross@4.0.0: wanted: {"node":">=14.15.4","homebridge":">=1.3.1"} (current: {"node":"14.15.1","npm":"6.14.8"})
npm WARN
4.3.2021, 19:50:25
4.3.2021, 19:50:25 notsup
4.3.2021, 19:50:25  Not compatible with your version of node/npm: homebridge-meross@4.0.0
4.3.20

[2021-03-04 19:10] #229 closed

[2021-03-04 19:41] Petern1991 commented on #226
Hey I have the same problem. I do not know how to fix it.

It says

[04/03/2021, 20:38:22] [homebridge-meross] This plugin generated a warning from the characteristic 'Current Door State': characteristic value expected number and received undefined. See https://git.io/JtMGR for more info.
[04/03/2021, 20:38:22] [homebridge-meross] This plugin generated a warning from the characteristic 'Target Doo

[2021-03-04 19:42] Petern1991 commented on #226
OS | Raspbian GNU/Linux Buster (10)
-- | --
RasPi3b

fe80::4bc7:821a:5580:20b0
v14.16.0
v6.14.11
homebridge
/var/lib/homebridge
/var/lib/homebridge/config.json
Yes

[2021-03-04 20:50] donavanbecker commented on #229
@ash123-germany, You need to have homebridge v1.3.1 installed as the changelogs says.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2021-03-04 20:51] donavanbecker commented on #226
Try #228

[2021-03-04 20:58] ash123-germany commented on #222
How i can install v5.00 ?

[2021-03-04 21:23] donavanbecker commented on #222
@ash123-germany you can install it from Homebridge UI:
<img width="1006" alt="Screen Shot 2021-03-04 at 3 22 42 PM" src="https://user-images.githubusercontent.com/9875439/110032205-7d8e9b00-7cfd-11eb-800a-0eb9edafec58.png">

<img width="1105" alt="Screen Shot 2021-03-04 at 3 21 39 PM" src="https://user-images.githubusercontent.com/9875439/110032159-6f407f00-7cfd-11eb-9919-047a16c30301.png">

[2021-03-05 02:14] MrJer commented on #228
Pulled down `v4.0.1-beta.8` tonight and MSS110-2 is still performing as expected.

[2021-03-05 07:32] bosco90 commented on #228
Hi there!
Just installed v4.0.1-beta.9 and updated the config as indicated for my MSS425E and it works fine. All plugs and the usb are recognized properly, in the HB Log the plugin doesn't show any warning!

Good job so far!!

[2021-03-05 10:28] Frankdoc commented on #226
you can also try running this in homebridge terminal :
npm install -g npm

and then reboot

[2021-03-05 10:36] Frankdoc commented on #228
Not working for MSG100.
Continously says:
"[3/5/2021, 11:35:03 AM] [homebridge-meross] This plugin generated a warning from the characteristic 'Current Door State': characteristic value expected number and received undefined. See https://git.io/JtMGR for more info."

In homekit it shows as 'open' even though the garage door is closed. Pressing the button doesn't do anything either

[2021-03-05 10:40] Write commented on #228
MSS-210 and MSS-310 work perfectly for me.

[2021-03-05 11:41] juanfal commented on #222
Installing homebridge-meross@4.0.1-beta.9
…

[2021-03-05 11:46] juanfal commented on #222
Now it offers to update to v5  With the change in conf from accessory to platform

Do you recommend to do it now?

[2021-03-05 12:40] donavanbecker commented on #228
@Write Thanks!

@Frankdoc thanks for testing. Can you open an issue for this? So I can track it by itself?

[2021-03-05 19:59] donavanbecker commented on #222
You have to for this to work.

[2021-03-05 20:00] donavanbecker commented on #217
Check out #228

[2021-03-05 20:01] #215 closed

[2021-03-05 20:02] donavanbecker commented on #204
Checkout #228

[2021-03-05 20:09] kaganae commented on #222
FYI, I am running Homebridge v1.3.2 and homebridge-meross v4.0.1-beta.5 and still getting similar errors in my log file.

[3/5/2021, 12:16:28 PM] [homebridge-meross] This plugin slows down Homebridge. The read handler for the characteristic 'On' was slow to respond! See https://git.io/JtMGR for more info.

Also, getting this one, that I think is new:

[3/5/2021, 2:07:35 PM] [homebridge-meross] Thi

[2021-03-05 21:59] donavanbecker commented on #222
@kaganae Can you try the latest beta.. it should `beta.11`

[2021-03-05 23:09] donavanbecker commented on #222
@kaganae can you please open your own issue so I can get details about your setup?

[2021-03-05 23:12] kaganae commented on #222
Latest beta working so far....

[2021-03-06 13:04] Slapash-do commented on #222
thank you, I had searched for how to install beta but not found.

I try this

[2021-03-06 16:42] juanfal commented on #228
Instalad last beta is possible through the web UI, but beta 5 is not listed.  How do you recommend to install it?  Should we previously uninstall 4 and then install with npm or so?  What is the exact command?  When to change the Configuration, before or after?  Home app will get meshed, won't it?

[2021-03-06 18:08] Lui5Jacint0 commented on #215
@donavanbecker could you add this feature?

[2021-03-06 18:38] donavanbecker commented on #228
@juanfal Beta.11 is the latest

[2021-03-06 18:38] donavanbecker commented on #215
I will take pull requests. But I do this in my free time so don't have time to add all the different options

[2021-03-07 01:26] juanfal commented on #228
Beta 11 deletes everything from Meross on Home app. You need to rebuild everything after the catastrophe

[2021-03-07 02:27] donavanbecker commented on #228
@juanfal weird because I haven't had this issue at all

[2021-03-07 11:03] juanfal commented on #228
It’s happened 2 times to me. Fool of me. If I install las beta 11 all Meross devices disappear from Home app. A total disaster

--
Juan miPhone

[2021-03-07 22:15] Petern1991 commented on #226
Thanks for the help @Frankdoc, but it is still not working.

[2021-03-07 23:02] donavanbecker commented on #226
@Petern1991 Did you try the beta?

[2021-03-08 13:01] Petern1991 commented on #226
I did not @donavanbecker, but it seems to not knowing when the port is open or closed.
I did shortly worked, but after a restart, it was back to the error.

[2021-03-08 18:17] rcoletti116 commented on #228
Tested. MSS630 working perfectly.

[2021-03-08 20:14] JackMorens commented on #228
Beta11 work with MSS425F and HB 1.3.2. The only problem I have, is that the on or off status is not updated with the Meross app.

[2021-03-08 20:42] donavanbecker commented on #228
@JackMorens are you talking about if you control the device from the meross app? it won't be instant. that status is refreshed based off the refreshRate which you can override with advance settings of the plugin.

[2021-03-08 20:49] JackMorens commented on #228
Yes, if I turn on / off through the application or through the voice assistants, with the old version 3.50 the synchronization is fine, but with the 4.0.0 or this beta11 the status is not updated, even if I wait for the 300 seconds set by  default, the status is not updated.

[2021-03-08 20:52] donavanbecker commented on #228
@JackMorens Do you have any error logs? Don't have much to go off of.

[2021-03-08 21:02] JackMorens commented on #228
No, in the log I only see the on or off message, when I turn it on or off from the Home application.
In this case the Switch 4 was already in the On state, to turn it Off I had to press 2 times, once to make it see On and once to actually turn it Off

[3/8/2021, 9:57:29 PM] [Meross] Sending request On for Presa 4
[3/8/2021, 9:57:37 PM] [Meross] Sending request Off for Presa 4

[2021-03-08 21:06] donavanbecker commented on #228
@JackMorens can you enable debug mode so we can see if there is any other info we are missing? also can you open this up in another issue to track it that way?

[2021-03-08 21:18] JackMorens commented on #228
Ok, I enable the debug mode and open new bug issue.

[2021-03-08 21:31] JackMorens opened #236 "ON/OFF status doesn't sync"
**Describe The Bug:**

The synchronization with the ON/OFF Status, between the Meross app and the Home app doesn't work

**To Reproduce:**

MSS425F and plugin 5.0.0 beta11 or public 4.0.0

**Expected behavior:**

Sync ON/OFF status

![sync](https://user-images.githubusercontent.com/80286858/110385992-fbd1a100-805f-11eb-847f-891573f7f9ba.jpg)

**Logs:**

[3/8/2021,` 10:19:07 PM] [Meross] MSS425F Pr

[2021-03-08 22:42] donavanbecker commented on #120
@zpeters90 I have added the mss570x as an option in the latest beta, if you could try it and let me know how it works. it will show up as a light bulb.

Beta: `4.0.1-beta.12`

[2021-03-08 22:45] donavanbecker commented on #222
dup of #204

[2021-03-08 22:45] #222 closed

[2021-03-08 22:45] donavanbecker commented on #226
dup of #204

[2021-03-08 22:45] #226 closed

[2021-03-08 22:46] donavanbecker commented on #204
#228/#227 takes care of this.

[2021-03-08 22:46] #204 closed

[2021-03-08 22:46] donavanbecker commented on #217
dup of #204

[2021-03-08 22:46] #217 closed

[2021-03-09 04:38] gabmak commented on #236
Not sure if updating Node.js will help but I got a similar issue and found this in my log

The plugin "homebridge-meross" requires Node.js version of >=14.16.0 which does not satisfy the current Node.js version of v14.15.4. You may need to upgrade your installation of Node.js - see https://git.io/JTKEF

Currently, I'm using Alpine Linux docker so I have no way of manually updating Node.js to the v

[2021-03-09 10:09] DavTechFr commented on #77
@rgoggy Why are you waiting for homebridge-meross-cloud?
What is the difference with this plugin (w/o cloud), and why MRS100 cannot be added to it?

Thanks

[2021-03-09 10:19] rgoggy commented on #77
I think new developments are only done in the Cloud Version

[2021-03-09 11:03] bosco90 commented on #236
I had the same issue with MSS425E, I ended up by disabling the plugin as I've replaced the strip with another plug, but the strip works fine with the Meross app, I just need to find another use for it

[2021-03-09 12:27] donavanbecker commented on #77
@rgoggy No both are getting updates.

[2021-03-09 20:54] schredde commented on #236
Same Problem here. Unfortunately Updating node is not the solution.
Hoping for an Update soon

[2021-03-09 21:33] donavanbecker commented on #236
Revert to 3.5.1 for the time being

[2021-03-11 19:32] osigge commented on #228
I can confirm that MSG100 does not work. I get a different error:
[Meross] Failed to POST to the Meross Device MSG100 at <local IP address>: "socket hang up"

[2021-03-11 19:50] donavanbecker commented on #228
Unfortunately I don't have a meross garage door so can't test this myself and can't see what needs to be sent to it. Unless someone can post what they sniff out with http catcher or Charlie's proxy. I might be able too.

[2021-03-11 21:40] osigge commented on #228
I'm currently working on a quick fix for myself. The latest "release" version doesn't also work for me. I need my garage door ;)
After that I will see what I can do to integrate a "real" fix.

[2021-03-11 23:07] donavanbecker commented on #228
@osigge i have released a new Beta: `v4.0.1-beta.13`

Can you test it out?

[2021-03-11 23:20] osigge commented on #228
Sorry, still the same issue :(

[2021-03-11 23:28] donavanbecker commented on #228
@osigge okay try beta: `v4.0.1-beta.14` once it is published.

[2021-03-11 23:41] osigge commented on #228
unfortunately I still get the same error

[2021-03-12 17:54] donavanbecker commented on #236
can you try Beta: `4.0.2-beta.1`

[2021-03-12 18:58] JackMorens commented on #236
Great! 👍🏻 With the new beta the synchronisation seems to work correctly on my MSS425F.

![6182B1BE-0194-421C-8221-698C3E16F5B3](https://user-images.githubusercontent.com/80286858/110985644-fbd9e580-836c-11eb-9eba-b0e4ef990f22.jpeg)

[2021-03-12 19:08] schredde commented on #236
Yes, thank you!!

[2021-03-12 19:54] #236 closed

[2021-03-12 19:54] donavanbecker commented on #236
Awesome!

[2021-03-13 00:00] yonigold1 opened #244 "MSG 200 Broken in latest version of the plugin"
I dont have the time to fill out the entire template for the support request however after upgrading this plugin to version 4.0.0+ my MSG 200 garage door opener will not respond from homebridge i have tried using Http catcher multiple times I still cannot get it to work. This error is spammed through my homebridge logs:
[homebridge-meross] This plugin generated a warning from the characteristic 'C

[2021-03-13 00:00] #244 closed

[2021-03-13 00:52] yonigold1 opened #245 "MSG 200 not working please help"
**Describe The Bug:**
MSG 200 not working on the latest version of the plugin

After upgrading this plugin to version 4.0.0+ my MSG 200 garage door opener will not work from homebridge

**To Reproduce:**
Not sure as I don't know whats wrong

**Expected behavior:**
The garage to open and states to be correct

**Logs:**

[code]

<img width="1412" alt="Screen Shot 2021-03-12 at 7 45 36 PM" src="https

[2021-03-13 00:53] yonigold1 commented on #245
If someone could help me im losing my mind trying to figure out whats wrong.

[2021-03-13 02:35] donavanbecker commented on #245
Revert back to v3.5.1

[2021-03-13 16:54] donavanbecker commented on #245
@yonigold1 Can you try the latest beta?

[2021-03-13 16:54] donavanbecker commented on #218
Can you try the latest beta?

[2021-03-13 16:56] donavanbecker commented on #228
@osigge does the latest beta work for you?

[2021-03-13 17:15] pparrilla opened #247 "MSS210 not working"
**Describe Your Problem:**

I started today using homebridge. I was following the guide published, using HTTP Catcher and i obtained all the information needed, but my plug is not working.

**Logs:**

[code]

**Homebridge Config:**

[code]

**Environment:**

* **Node.js Version**: v14.16.0
* **NPM Version**: 6.14.11
* **Homebridge Version**: 1.3.3
* **Homebridge Meross Plugin Version**: v4.0.1
* *

[2021-03-13 18:36] yonigold1 commented on #245
Yea i tried the latest beta it still seems to not work. Also my 2 meross plugs don't work on the latest beta.
In addition my MSG200 stopped working on version 3.5.1 any idea why this is happening?

[2021-03-13 22:06] donavanbecker commented on #247
@pparrilla Please try v3.5.1 until 5.0.0 is released

[2021-03-13 22:17] pparrilla commented on #247
Do you mean v3.4.1 of the plugin? Or the 3.5?

[2021-03-13 22:22] pparrilla commented on #247
I noticed that the messageId, timestamp and sign is changing from one "On" to the next when i catch using HTTP catcher, can it be the bug?

[2021-03-13 22:31] donavanbecker commented on #247
No you can re-use them.

[2021-03-13 22:48] christiantschoerner commented on #245
Same issue with MSG100 for me. Try Version "v3.4.1". Works for me now

[2021-03-14 01:32] insomniaforever commented on #218
I installed the non-cloud version of the plugin on Hoobs, and the door opens and closes fine, but I do receive errors saying "No Response" within the "Home" app. The log is as follows:

3/13/2021, 6:02:48 PM [HOOBS 998D@Garage@Garage@Obstruction Detected] Unhandled error thrown inside read handler for characteristic: callback is not a function
3/13/2021, 6:02:48 PM [HOOBS 998D@Garage@Garage@Target

[2021-03-14 01:47] donavanbecker commented on #218
@insomniaforever This plugin is developed for homebridge not HOOBS.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2021-03-14 04:32] insomniaforever commented on #218
Thanks man, I have done it, but it still shows Callback is not a function, and the "Home" app still shows "No Response".

[13/03/2021, 21:29:01] [homebridge-meross] This plugin threw an error from the characteristic 'Obstruction Detected': Unhandled error thrown inside read handler for characteristic: callback is not a function. See https://git.io/JtMGR for more info.
[13/03/2021, 21:29:01] [homeb

[2021-03-14 04:47] donavanbecker commented on #218
@insomniaforever try heading back to v3.5.0 with the UI

[2021-03-14 04:49] insomniaforever commented on #218
Thanks a lot man, you are super helpful here. I checked previous versions and figured that it could be the plugin settings due to the newer hardwares introduced by Meross. After rolling back, everything works great!

Thanks again.

[2021-03-14 08:05] Gandalf8266 opened #248 "The Status of the Garage Door Opener MSG100 ist not available"
The icon of the Garage door Opener shows "No answer" but it works. I can open and close the Garage door, and I get the Push Notifications when someone opens it.
This big is when I'm updated to homebridge-meross v4.0.0, homebridge-meross v4.0.1 doesn't fix it.

Status ist noch current

I can show the icon

[14.3.2021, 08:59:49] [Garage] TypeError: callback is not a function
[14.3.2021, 08:59:51] [h

[2021-03-14 17:07] osigge commented on #228
Version 4.0.2-beta.2 does work for me, yes. I have the MSG100.

[2021-03-14 18:29] duce143 commented on #248
I has the same problem, i tested the version v3.5.0, these works and it shows not "no answer".

But with this version it shows me this error message

[14.3.2021, 19:07:12] [homebridge-meross] This plugin generated a warning from the characteristic 'Obstruction Detected': characteristic value expected boolean and received undefined. See https://git.io/JtMGR for more info.

[2021-03-15 02:08] czm97176 commented on #228
i am wondering will the plugin got updated if the devices turned on by another automation software? like Note-red?
i tried to switch-on/off my MS310 but the Home app is not update. I guess the plugin will not checking the status actively ?

[2021-03-15 02:29] donavanbecker commented on #228
@czm97176 do you have the refreshrate set? If not, it will take 5 mins to update.

[2021-03-15 03:32] jogoyo opened #249 "Homebridge characteristic warnings"
**Describe The Bug:**

Not really a bug, but rather an annoying warning message that the Hue, Color Temp, Saturation, and Brightness characteristics aren't being properly defined.

**To Reproduce:**

Add a MSL-120 bulb, and open the Home app.

**Expected behavior:**

Not throw warnings, properties should be properly defined and set.

**Logs:**

[3/14/2021, 11:24:02 PM] [homebridge-meross] This plu

[2021-03-15 03:35] #228 closed

[2021-03-15 03:52] donavanbecker commented on #249
v5.0.0 is released

[2021-03-15 03:52] #249 closed

[2021-03-15 03:52] donavanbecker commented on #247
v5.0.0 is released

[2021-03-15 03:52] #247 closed

[2021-03-15 03:52] donavanbecker commented on #218
v5.0.0 is released report any issues.

[2021-03-15 03:52] #218 closed

[2021-03-15 03:53] #35 closed

[2021-03-15 03:53] #39 closed

[2021-03-15 03:53] #76 closed

[2021-03-15 03:53] #120 closed

[2021-03-15 03:53] #124 closed

[2021-03-15 03:53] #143 closed

[2021-03-15 03:53] #158 closed

[2021-03-15 03:53] #166 closed

[2021-03-15 03:53] #181 closed

[2021-03-15 03:53] #193 closed

[2021-03-15 03:53] #245 closed

[2021-03-15 03:53] #248 closed

[2021-03-15 05:01] jogoyo opened #250 "Cannot read property 'payload' of undefined"
**Describe The Bug:**

Upon updating to v5.0 and re-arranging config, the payload property cannot be read.

**To Reproduce:**

Update to v5.0 and check logs. In Home app, devices are moved to Default Room and not responding.

**Logs:**

[Meross] MSL-120 - Failed to refresh status of Bedroom Lamp: "Cannot read property 'payload' of undefined" undefined

# **Environment:**

- **Node.js Version**: v1

[2021-03-15 05:11] donavanbecker commented on #250
@jogoyo Old accessory devices will be removed once you remove the accessory config. Also more logs will be needed and more info on your devices to be able to troubleshoot.

[2021-03-15 05:19] jogoyo commented on #250
I'm using MSL-120 bulbs as mentioned in the logs. This is my homebridge log...

[3/15/2021, 1:06:34 AM] Loading 5 platforms...
[3/15/2021, 1:06:34 AM] [Config] Initializing config platform...
[3/15/2021, 1:06:34 AM] [Config] Running in Service Mode
[3/15/2021, 1:06:34 AM] [Camera FFmpeg] Initializing Camera-ffmpeg platform...
[3/15/2021, 1:06:34 AM] [Govee] Initializing Govee platform...
[3/15/202

[2021-03-15 05:23] donavanbecker commented on #250
@jogoyo Can you publish http catcher of push from meross app?

[2021-03-15 05:31] jogoyo commented on #250
HTTP catcher push params...

{
  "payload" : {
    "togglex" : {
      "onoff" : 1,
      "channel" : 0
    }
  },
  "header" : {
    "messageId" : "x",
    "method" : "SET",
    "from" : "http:\/\/192.168.13.13\/config",
    "timestamp" : x,
    "namespace" : "Appliance.Control.ToggleX",
    "uuid" : "2008277303984190827048e1e92e4b7d",
    "sign" : "x",
    "triggerSrc" : "iOSLocal",
    "payload

[2021-03-15 13:59] yonigold1 commented on #245
@donavanbecker how come this was closed?

[2021-03-15 14:03] donavanbecker commented on #245
V5.0.0 was released

[2021-03-15 14:49] dakotaduff commented on #250
I'm getting the same for all of my dimmer switches.

`MSS560 - Failed to refresh status of Front Porch: "Cannot read property 'payload' of undefined" undefined`

My HTTP Catcher data is essentially the same as jogoyo's.

[2021-03-15 16:02] yonigold1 commented on #245
i just updated to 5.0.0 now but it's still not working. My 2 meross plugs are working but my MSG200 is not.

[2021-03-15 16:14] yonigold1 commented on #245
perhaps this could be of help:
i have just fresh installed the plugin and reentered all the info using Http catcher my 2 plugs work but when i try to open the garage i get this error in homebridge:
`Failed to POST to the Meross Device MSG200 at 192.168.2.***: "socket hang up"`

[2021-03-15 16:57] bosco90 opened #252 "Show MSS425E as Power Strip"
**Is your feature request related to a problem? Please describe.**

It's there any change to make a power strip appear as a single accessory with multiple separate outlets inside it?

**Describe the solution you'd like**

HomeKit actually supports this with another Meross product (MSS425F) as this images shows

**Additional context**
![IMG_1827](https://user-images.githubusercontent.com/78073930/1

[2021-03-15 16:57] #252 closed

[2021-03-15 17:05] bosco90 opened #253 "Show power strips as a single device"
**Is your feature request related to a problem? Please describe.**

Power strips should be shown as a single device with multiple outlet

**Describe the solution you'd like**

The same that happens with power strips that have HomeKit native support, like MSS425F

**Describe alternatives you've considered**

Using every outlet as a single device is fine but takes a lot of space in the Home app, gro

[2021-03-15 17:20] yonigold1 commented on #245
I have figured out the issue for some reason the static IP i set for the MSG200 changed and i had the incorrect IP in the config however i have resolved it now :)

[2021-03-16 01:32] rcoletti116 commented on #250
+1 on this. MSL-120s. They worked fine in an earlier version of the beta, but the v5 and latest beta do not work. Here's a sample response from the GET /config with Payload.

`{
  "header": {
    "messageId": "x",
    "namespace": "Appliance.System.All",
    "method": "GETACK",
    "payloadVersion": 1,
    "from": "/appliance/2010237811739590831848e1e937310d/publish",
    "timestamp": x,
    "time

[2021-03-16 11:06] EpicKris opened #305 "Device Type: mss210n, is currently not supported."
**Is your feature request related to a problem? Please describe.**

Device Type: `mss210n`, is currently not supported.

**Describe the solution you'd like**

Add support for Device Type: `mss210n`.

**Describe alternatives you've considered**

Using `homebridge-meross`.

[2021-03-17 14:01] donavanbecker commented on #250
@jogoyo and @rcoletti116 could you try the latest beta?

Beta: `v5.0.1-beta.0`

[2021-03-17 14:17] rcoletti116 commented on #250
Sure. Still no response for the device in HK, but now I get [Meross] MSL-120 - Failed to refresh status of Bulb1: "socket hang up" undefined

[2021-03-17 14:57] yonigold1 commented on #245
Hey @donavanbecker just a quick request for the garage doors. Can u add the ability to put a custom amount of time for the "Garage Door Opening Time" my garage door takes 12 seconds and the options are 10, 15, 20. I would really appreciate that :)

[2021-03-17 15:18] donavanbecker commented on #245
@yonigold1 Can you open this in a new feature request to track this feature and I can look into it.

[2021-03-17 15:29] jogoyo commented on #250
Can confirm with @rcoletti116
[Meross] MSL-120 - Failed to refresh status of Test Light: "socket hang up" undefined

[2021-03-17 15:34] yonigold1 commented on #245
sure :))

[2021-03-17 15:37] yonigold1 opened #254 "Custom Values for Garage Door Opening Time"
**Is your feature request related to a problem? Please describe.**
Not related to a problem.

**Describe the solution you'd like**
I would like to be able to enter a custom value for "Garage Door Opening Time"

**Describe alternatives you've considered**
Asked for help :)

**Additional context**

[2021-03-17 18:10] donavanbecker commented on #254
@yonigold1 can you try the new beta?

Beta: `5.0.1-beta.1`

[2021-03-17 18:59] rgoggy commented on #77
@donavanbecker Where can I find the implementation?

[2021-03-17 19:22] yonigold1 commented on #254
sure ill update to it now :)

[2021-03-17 20:41] jhives82 opened #255 "msl-320 not pulling current status"
**Describe The Bug:**

MSL-320 is not pulling the status of the light strips anymore in the latest version.  It definitely worked in the old version, and it the syntax and call all looks correct as far as I can tell.  I don't see any errors in the log either.

The lights do function properly in homekit if manipulating them, It's just the pulling of the current status if the homekit app is closed a

[2021-03-17 20:41] #255 closed

[2021-03-18 11:49] ikorbln opened #256 "After migrating to V5.0.0 slow switchtime and error in HB-Log"
**Describe The Bug:**
After migrating to the new Version 5.0.0. some of the devices put out an error in the HB Logs. It takes longer to switch the lamp than normal.

**To Reproduce:**
It happens from time to time, i cant figure out how it trigers

**Expected behavior:**
Like in the Version befor the new "platform" thing, thats just worked

**Logs:**

MSS425F - Failed to refresh status of Dose4: "r

[2021-03-18 13:49] DredgenJ commented on #250
+1 on @jogoyo’s original post problem. Lights are still fully controllable though from Homebridge UI, Siri, HomePod, and shortcuts, just not via the Home app as it reports them as not responding.
+1 on the latest beta error message
Was getting socket hang up error until I used a different credential from HTTP Catcher.
Still getting error: [Meross] MSL-120 - Failed to refresh status of East: “Canno

[2021-03-18 14:39] yonigold1 commented on #254
Okay so i tested it today it seemed like it didn't work the accessory in homekit said opening for a few seconds extra I will count it next time to see whether or not its still 15 or if it went to the value I put (12)

[2021-03-18 15:38] EpicKris opened #304 "HomeKit Accessories Resetting After Restart HomeBridge"
**Describe The Bug:**
HomeKit accessories reset after restarting HomeBridge.

**To Reproduce:**
1. Configure HomeKit accessory.
2. Restart HomeBridge.

**Expected behavior:**
HomeKit accessories should retain their configuration after restarting HomeBridge.

**Logs:**
[code]

**Homebridge Config:**
[code]

# **Environment:**
- **Node.js Version**: 15.11.0
- **NPM Version**: 7.6.3
- **Homebridge Ve

[2021-03-18 21:12] yonigold1 commented on #245
Hey so ive still been experiencing status update issues and here are some of the errors that periodically appear:
` Failed to refresh status of Garage: "connect EHOSTUNREACH 192.168.2.***:80" undefined`
 and
`Failed to refresh status of Garage: "read ECONNRESET" undefined`

So I turned on Homebridge Debug mode and noticed how often the plugin Polls so I thought maybe its too much polling for the M

[2021-03-19 06:18] ikorbln commented on #256
Hey, sorry it was my fault.....i forgot to remove the:
"accessory": "Meross",
line. After removing the line all works good.

[2021-03-19 06:18] #256 closed

[2021-03-19 07:48] Michaelr9 opened #257 "Makes all other Plugins stop working!"
I am using homebridge, and I am currently also using the “MagicHome Dynamic Platform” and “Govee” plugins. My homebridge was working without error until I downloaded this plugin. When I installed the Meross plugin, all other plugins began to say “accessory is not responding” on my HomeKit app. The accessories work fine in the homebridge server which is really the major confusing part to me. I real

[2021-03-19 07:49] #257 closed

[2021-03-19 10:18] mag2007 commented on #218
Well I am lost. I moved to Homebridge. Clean install. Firstly I tried the latest version. It did not work (moved accessory to platform). Then reverted back to 3.5.0 (moved config back). Getting the same error `Error: connect ETIMEDOUT`

[2021-03-19 14:52] arharp opened #259 "Compatibility with Refoss devices?"
Do you know if this plugin could work with the Refoss smart garage door opener? It looks identical to the Meross device.

[2021-03-19 14:53] #259 closed

[2021-03-19 14:58] rcoletti116 commented on #250
Very strange. I had noticed that I could control in the homebridge UI, but assumed since Home app said no response that Siri would also not work. I can now confirm that Siri can control the light.

[2021-03-19 15:02] arharp opened #260 "Compatibility with Refoss devices?"
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

I'm wondering if this plugin supports, or could easily support, Refoss garage door openers. They appear to be identical to the Meross devices.

**Describe alternatives you've considered**

It may not make sense to add support directly to this plugin, but I'm mainly wondering how easy it w

[2021-03-19 15:09] donavanbecker commented on #260
@arharp It should work, you will need to use http catcher to get the needed info and then try it out.

[2021-03-19 15:43] gileswells commented on #250
I have the same issue as @jogoyo where my error has the "socket hang up" undefined. Slightly different from the title of this issue about reading a property of something undefined. Here's my debug log on my bulb.

[code]

better formatting
[code]

and being an over achiever, here's the data property's json all formatted and pretty
[code]

| Device info | value |
| --- | --- |
| Model | `msl120d` |

[2021-03-19 15:51] rcoletti116 commented on #250
Yep, the latest version has this as the socket hangup error now, but it is affecting the same devices.

[2021-03-19 16:44] yonigold1 commented on #245
Awesome thanks so much but quick question what is the difference between Refresh Rate and Push Rate?

[2021-03-19 17:16] IsonCode commented on #25
Hello, I have the same problem with MSS310 plugin version v5.0.1, homebridge v1.3.4.
I have successfully set up 2 MSS210 plugs, but I have tried to set up with the same exact method a MS310 plug and it does not work.
I know how to proceed te setup (because I have already successfully setup 2 plugs).

[2021-03-19 17:57] jogoyo commented on #250
Do we know if this issue has been fixed in v5.0.1?

[2021-03-19 17:59] rcoletti116 commented on #250
I've tested and no its not fixed.

[2021-03-19 19:22] insomniaforever commented on #218
I am using Meross garage opener MSG100 without Homekit ability.

You need to install the plugin called Meross something, and then you need to change your different types of IDs in the configuration coding page. The following IDs can be captured by an app called HTTPCatcher. Start the app and click on the on button, and then open your garage door using Meross App, then you can stop the HTTPCathcer

[2021-03-19 20:05] donavanbecker commented on #245
PushRate is the time that the plugin will wait before pushing the requested changes. So if you send and on action and then change your mind and push off, and you have your pushRate set higher it would only pickup the push off. It could also be used as a delay feature.

[2021-03-20 21:48] DredgenJ commented on #250
@rcoletti116 I actually would never have thought to check- friends in my clan on Xbox love yelling commands to my HomePod mini if I join before my headphones connect, somebody did it, my lights came on and I was befuddled.

@donavanbecker Latest version still shows socket hang up error, although the error is different sometimes. Can post logs in detail if necessary

[2021-03-23 18:29] rcoletti116 commented on #260
I have refoss devices (not garage door opener specifically) that work fine. The products are identical. Even the model numbers are the same compared to the meross versions.

[2021-03-23 20:57] #260 closed

[2021-03-24 16:20] koryhutchison commented on #250
Yeah I'm having the same issue as well when updating to v5.0.0. I had to revert and go back to v4.0.1 in order for my switch to work again.

[2021-03-24 17:20] jjag65 commented on #254
Hi,
I have the MSG-100 garage door opener and I’m running v5.0.1.  The door opens/closes just fine through the HomeKit app, however, when I use the physical door open/ close button the status of the device gets screwed up in the HomeKit app.  Any advice is much appreciated.

[2021-03-25 06:10] fpeghub commented on #254
Hi all,
would like to confirm the comment from jjag65.
Same problem with MSG-100 on my side.
Last working version was 3.5.0 all newer versions failed.
Kind regards

[2021-03-25 14:15] donavanbecker commented on #250
thanks to @gileswells for a potential fix to this!

@koryhutchison @DredgenJ @rcoletti116 @jogoyo @dakotaduff can you test out the latest beta and let me know if this is fixed? then I will release v5.0.2

Beta: `5.0.2-beta.0`

[2021-03-25 15:10] rcoletti116 commented on #250
confirmed, it is fixed.

[2021-03-25 15:12] donavanbecker commented on #253
@bosco90 so for MSS425F does it show up as 4 outlets for the 4 outlets and then 1 outlet for the USB?

[2021-03-25 15:14] donavanbecker commented on #250
v5.0.2 is released

[2021-03-25 15:14] #250 closed

[2021-03-25 15:15] bosco90 commented on #253
MSS424F is HomeKit compatible and it shows as on the images on the original post, while the MSS425E that I expose via the plugin shows every outlet as a separate device.

[2021-03-25 15:17] donavanbecker commented on #253
and MSS425E is 4 outlets and USB? are the USBs each individually able to be controlled? or are they all controlled off one button?

[2021-03-25 15:19] bosco90 commented on #253
All usb are controlled by one button on both devices

[2021-03-28 09:03] Gandalf8266 opened #263 "Wrong Status in home App"
Since the last update, the Status in the home App isn't correct

Thy button works, I can open and close my garage door, but the status isn't correct, it is always pulling the status, see screenshot.

just start the plugin

**Logs:**

[code]

**Homebridge Config:**

[code]

**Screenshots:**

https://share.icloud.com/photos/0cSmIQzj5drDOdBxFJkwMbMGQ

# **Environment:**

- **Node.js Version**:
- **NP

[2021-03-29 20:29] rgoggy commented on #77
@donavanbecker Any update? Or additional info needed?

[2021-03-31 17:08] rwbisme opened #264 "MSL320m status incorrect"
Issue with Status of MSL-320 status update shows incorrect status.  If device is exercised it wil show the correct status for approximately 1 minute and 30 seconds then the status changes back to off in Homekit while light remains on.

To Reproduce simply exercise the device,  it shows the device turning on but after 90 seconds the dislay changes back to off.

**Expected behavior is for the device

[2021-04-01 15:59] yonigold1 commented on #254
I'm having this same issue when the door opens through the keypad or any thing other than homekit the garage status in homekit says closing when it's open and is just incorrect.

[2021-04-01 16:26] fpeghub commented on #254
Hi,
I can confirm the same issue. Last working version was 3.5.0
Am 1. Apr. 2021, 17:59 +0200 schrieb Jailbreaker ***@***.***>:

[2021-04-02 19:51] yonigold1 commented on #254
@donavanbecker was there any significant change to the garage controllers from v3.5.0 to v5.0.0?

[2021-04-06 16:15] #253 closed

[2021-04-07 09:46] Gandalf8266 commented on #263
it can be closed, at the moment the plugin works fine.

Thx

[2021-04-08 19:25] JRNLA commented on #264
I am having the same issue

Home App can neither turn it on or off or accurately reflect it's current status. I have rest and reinstalled and also removed and reinstalled Meross Plugin

Logs:[4/8/2021, 12:06:39 PM] [Meross] Setting power state to On for Bedroom Lights
[4/8/2021, 12:06:39 PM] [Meross] Setting brightness to 100 for Bedroom Lights
[4/8/2021, 12:06:42 PM] [Meross] Setting power state

[2021-04-13 13:06] atlienk commented on #263
@Gandalf8266 did you do anything to fix this? I recently setup a Meross MSL120 bulb and I think that it's having the same issues that you encountered.

[2021-04-14 21:07] #254 closed

[2021-04-15 16:53] iMatux commented on #181
I tried too, but the support is missing
However timestamp, sign and messageID are there

[2021-04-15 17:34] iMatux commented on #181
[This](https://github.com/albertogeniola/MerossIot/issues/170) maybe could help, there are some sniffing data and various commands from the Meross MOD100

[2021-04-16 11:22] iMatux opened #267 "MOD100 Support Discussion"
Hello, first of all thank you for your work! This is a new Meross device which an RGB led and a diffuser which has 3 state (Off, Light Spray, Heavy Spray). I tried to set it manually with every field and model: "mod100", Home app recognise it as a light with intensity and a switch, so maybe there is an initial support in this plugin last version. If you need anything let me know.
This log below is

[2021-04-17 08:59] maslcar opened #268 "Add Support for MOD 100"
I have bought an MOD100 humidifier and sadly this is not supported by any Plug-In.
Please is it possible to add it to supported devices?

[2021-04-17 08:59] #268 closed

[2021-04-17 09:07] maslcar commented on #267
How did you configure it to show in HomeKit?

[2021-04-17 11:10] iMatux commented on #267
Like a supported Meross product, but in config.json model field is set to "MOD-100" ("MOD100" has the same behaviour), maybe is some sort of basic configuration when plugin doesn't recognise the device model.
<img width="364" alt="Schermata 2021-04-17 alle 13 05 10" src="https://user-images.githubusercontent.com/23347512/115110935-0f84f700-9f7e-11eb-88c1-c80d8fc9603d.png">
![IMG_4967](https://user

[2021-04-17 11:49] maslcar commented on #267
Are you able to control it?
I have the same Device and for me it only shows one Switch.
what did you switched on when you claimed the messageId? Did you used HTTP Catcher?

[2021-04-17 14:37] iMatux commented on #267
I can't control it, if I try to send commands with Home app the Homebridge log shows "socket hang up" with the IP address of the diffuser. What did you write in model field?

[2021-04-17 14:41] maslcar commented on #267
Ok i get the same error in my logs.
MOD-100 exactly like you. My PlugIn is 5.0.2

[2021-04-19 19:41] atlienk opened #269 "Meross MSL-120 Bulb Producing Error: Failed to refresh status of Garage Light: "socket hang up" undefined"
**Describe The Bug:**
I purchased a few Meross MSL-120 bulbs a few days ago. I had 1 working without issue for ~2 weeks. Over the weekend, I setup 2 new bulbs in a different part of the house. Since that time, the first bulb continues to work from the Meross app, but Homebridge throws the following error.

"MSL-120 - Failed to refresh status of Garage Light: "socket hang up" undefined"

The bulb s

[2021-04-19 22:16] atlienk commented on #269
Issue was resolved by removing the bulb from the ecosystem, assigning a new IP address, and then readding it back to the environment.

[2021-04-19 22:16] #269 closed

[2021-04-20 18:00] rwbisme commented on #264
Any movement on this issue?

[2021-04-21 02:26] tobyctf-hk opened #270 "Cannot get the token"
**Describe Your Problem:**
Cannot get token for Meross products using http catcher, anyway to got it?

[2021-04-21 02:26] #270 closed

[2021-04-21 10:29] enigmat14 commented on #181
Sorry I did not read the message.
It is not related to a problem, it is an integration request. The solution would be to integrate it into the library, my knowledge in Python development is null, sorry. I could perform the tests you need.

Again sorry for not replying.

[2021-04-23 04:32] luggi83 opened #273 "MSL-320 - wrong colours and error msgs"
Hi, I have successfully added a MSL-320 to homebridge and switching on/off works fine. However, when changing colors, the resulting color has nothing to do with the desired setting. Also, homebridge reports the following error messages upon startup and when switching the strip:

[23.4.2021, 06:14:17] [homebridge-meross] This plugin generated a warning from the characteristic 'Hue': characteristic

[2021-04-23 04:32] #273 closed

[2021-04-23 05:10] luggi83 opened #274 "MSL-320 - wron"
**Describe The Bug:**

Hi, I have successfully added a MSL-320 to homebridge and switching on/off works fine. However, when changing colors, the resulting color has nothing to do with the desired setting. Also, homebridge reports the following error messages upon startup and when switching the strip, an error message appears (see log below)

**To Reproduce:**

Switch added MSL-320 while changing c

[2021-04-23 11:00] maslcar opened #275 "Add Support for MOD-100 humidifier"
**Is your feature request related to a problem? Please describe.**

I have bought the humidifier mod-100, sadly there is no plugin that supports this device

**Describe the solution you'd like**

the ability to turn on low or high dust and to turn on the light. You can also change the brightness and color of the light with the meross app, but this is not necessary i guess.

**Describe alternatives

[2021-04-23 11:04] maslcar commented on #275
Also there was already a really detailed thread about this, but it got closed automatically.

https://github.com/donavanbecker/homebridge-meross/issues/267

[2021-04-25 21:07] #263 closed

[2021-05-02 20:05] #264 closed

[2021-05-05 06:04] #274 closed

[2021-05-05 10:07] Lui5Jacint0 commented on #77
@donavanbecker any update regarding this feature?

[2021-05-05 12:04] #275 closed

[2021-05-05 13:18] facundo59 commented on #77
Obviously not. Just gotta be patient, dude is doing this in this free time.

[2021-05-09 23:09] WunDaii opened #278 "Duplicate accessories after renaming device"
**Describe The Bug:**

This plugin is amazing and I really appreciate the work put in!

I added my MSL420N (a newer model of MSL420) and it works great. However, when I renamed it in the config, and restarted Homebridge, the new name and the old name appeared as two separate accessories.

So I tried renaming it again, and now three (old, old, new) appear. The old ones don’t work, the new ones do.

[2021-05-09 23:18] WunDaii commented on #278
I’ve just found that this is a Homebridge issue (feature?) where it caches the devices. See https://github.com/oznu/homebridge-config-ui-x/issues/525

Sorry about raising the issue and closing it so quickly!

[2021-05-09 23:18] #278 closed

[2021-05-18 12:53] stan69b commented on #77
Hello, I've been trying to make the MRS100 work with this plugin, I created a fork : https://github.com/stan69b/homebridge-meross
for now it treats a shutter as a garage door in homekit, i juste duplicated the garageDoor class to a Shutter one and changed the api calls to open or close the shutter. It works, but I have no way of getting the status of the roller shutter so home gets stuck on closin

[2021-05-18 12:57] stan69b commented on #77
Just the payload need changes to work with mrs100, the position object.
`this.Payload = {
      position: {
        channel: this.device.channel || 0,
        position: this.Open ? 100 : 0, // 100 top, 0 bottom, -1 stop.
      },
    };

    // Data Info
    this.Data = {
      payload: this.Payload,
      header: {
        messageId: `${this.device.messageId}`,
        method: 'SET',
        from

[2021-05-18 13:18] stan69b commented on #77
Little info, I spent literally 1h on this, from catching the request and adding them inside the existing code (It is dirty, i give you that). If all of us developer out there give a little hour of our time when available, we can greatly help the developers and their plugins :) I'm mean if you are here, you obviously have a technical background, I'm sure some of you can give a coding hand (even if

[2021-05-18 13:23] facundo59 commented on #77
Hey @stan69b, thank you very much for your help. I wish I could help, I already tried hours trying to find a workaround but no success. I do have a technical background, but for my regret it is not related to programming.

Just a quick though, for the first phases wouldn't a switch be easier to work with than a garage door?

If I can be any help, let me know!

[2021-05-18 13:26] stan69b commented on #77
Hey @facundo59 I took garage door thinking they were similiar but maybe you are right. Do you know any accessory from meross plugin that would allow me 3 buttons ? i would need open/close/stop.
Idealy i wanted to use the garagedoor timer to trigger "fake states" but did not figure it out yet.

[2021-05-18 13:35] stan69b commented on #77
Thanks, I'm going to look through the code and see if I can duplicate a switch and give it more interactions. I can't seem to find in the plugin's code anything that would trigger 3 buttons. With abit of luck, the template I make might be usable for other devices :) (I only have light switch and rollershutter so might not be able to help for new devices if I don't have them)
I'm currently editing

[2021-05-18 18:23] stan69b commented on #77
Hey again, I've come up with a new approach, still not PR ready as I lack the required knowledge in homebridge plugin developpment but it's a working version :D I do not plan on updating it anymore as it fits my purpose for now.

Fork is Available at : https://github.com/stan69b/homebridge-meross.git
(also interesting to have a look at the changes with the original as it may give insight on how it

[2021-05-27 02:37] Conanap opened #282 "Garage door shows as opening even though it is closed"
**Describe Your Problem:**
Hello! Whenever the garage door opens or closes, the status on the home app shows `opening` for anywhere from a few minutes to a few hours. The meross app shows `closed` as well as the homebridge UI. I've included a portion of the log while the home app shows it as `opening`. I'm not 100% sure this plugin would be the problem, but I thought I'd check here first as none o

[2021-05-28 16:20] Conanap commented on #282
No fix yet, but I'm not sure if this is a plug-in bug or apple home app bug.

[2021-05-28 20:30] joakyhsf69 opened #283 "MSS310 error"
Hello, I have an mss310 that you already told me to put in the configuration mss110-1 in order for it to work for me. For some time I have been seeing this message in the LOG:
MSS110-1 - Failed to refresh status of XXX: "Parse Error: Invalid header token" undefined
I have the latest versions of the plugin and homebridge
Because of that, sometimes automations work for me, sometimes they don't. What

[2021-05-28 20:30] #283 closed

[2021-05-28 20:48] joakyhsf69 opened #284 "Mss310 error"
Hello, I have an mss310 that you already told me to put in the configuration mss110-1 in order for it to work for me. For some time I have been seeing this message in the LOG:
MSS110-1 - Failed to refresh status of XXX: "Parse Error: Invalid header token" undefined
I have the latest versions of the plugin and homebridge
Because of that, sometimes automations work for me, sometimes they don't. What

[2021-05-28 22:36] christiantschoerner commented on #282
"Fixed" it by removing `"garageDoorOpeningTime": 10`. I don't know why but it works now.

[2021-05-28 22:51] Conanap commented on #282
Thank you, seems to have fixed it initially. I'll leave this issue open for the author.

[2021-05-29 00:01] Conanap commented on #282
I took a peak at the code; my sneaking suspicion is `this.lastSetTime` is incorrectly continuously updated somewhere, causing this part of the code to continuously assign `this.platform.Characteristic.CurrentDoorState.OPENING` to `this.CurrentDoorState`:
[code]

[2021-06-03 08:02] Conanap commented on #282
Unfortunately the issue is back, even with the above temporary fix.

[2021-06-09 22:04] #284 closed

[2021-06-10 11:02] JohannesPl opened #285 "MSG100 no more working."
**Describe Your Problem:**

I have:
MSG100 FW 3.2.2 / HW 3.5.0
iPhone SE2 with IOS14.6
HTTP Catcher 2.8.0

Maybe because I have done a firmwareupdate, but I am no more able to control the MSG100 with the plugin.

I got the errormessage below, but the IP address is for sure still the same 192.168.178.XX.

When I try to reinstall the plugin I get no "POST" logs as mentioned in the Credential Wiki us

[2021-06-10 20:03] JohannesPl commented on #285
Ok. Now i got the values with the help of HTTP catcher.
But the switch is doing nothing when activating via homebridge? It shows, "Garage opening..." and that's all.
The logfiles show nothing, what points to my garage.

[2021-06-13 10:36] ChopsKingsland opened #286 "MSS510X stopped working"
**Describe The Bug:**
All of a sudden my MSS510X light switch doesn't work with Homebridge...

**Logs:**

[code]

**Homebridge Config:**

[code]

**Screenshots:**

![image](https://user-images.githubusercontent.com/18499854/121803810-2755c000-cc3b-11eb-9e49-ea90be233a07.png)

# **Environment:**

- **Node.js Version**:  v14.15.1
- **NPM Version**:  6.14.8
- **Homebridge Version**:
[code]
- **Homebr

[2021-06-13 14:21] ChopsKingsland commented on #286
For some reason now, it works! Just took quite a few restarts for it to work

[2021-06-13 14:21] #286 closed

[2021-06-17 11:44] mag2007 commented on #285
Which firmware version are you using? And what is the hardware version?

[2021-06-20 05:12] JohannesPl commented on #285
Hi.

Firmeware-Version is: 3.2.2
Hardware-Version is: 3.5.0

[2021-06-22 16:02] hectorkd opened #292 "MSS210 plug won't work anymore"
**Describe The Bug:**

The plugs were working on HOOBS before the update and now they wont show up. HOOBS also won't start up again if I have anything written within the devices section.

**Logs:**

[code]

**Screenshots:**

<img width="1158" alt="Screenshot 2021-06-22 at 16 55 18" src="https://user-images.githubusercontent.com/62357077/122959735-05ff7d00-d37b-11eb-8cff-313e5e3d787b.png">

[2021-06-22 16:02] #292 closed, assigned to nobody

[2021-06-22 19:49] SemoTech opened #293 "[BUG] MSS510 Smart Wall Switches Not Responsive & Show incorrect firmware upgrade option in HomeKit"
**Description:
It seems that Single Pole Meross Smart Wall Switches (model MSS510) running latest v3.1.5 firmware, are showing in HomeKit that there is a firmware upgrade available, and they are also unresponsive.  A toggle seems to take effect but then quickly reverts. This is NOT happening with the MSS550 3-Way model Smart Wall Switches (firmware v3.1.3). Both the Meross App and their tech suppo

[2021-06-23 04:56] starxinca commented on #285
Hi there,
I'm using the same Meross MSG100 garage opener. I just wonder where I could get the **MessageID** please.
I put my iPhone on the same WI-FI and tried HTTP Catcher, however I only got timeStamp and sign. There is no such messageID anywhere. I was so struggling to find it. I appreciate that if you can help me please, even with a screenshot that will very helpful.
One more thing for the **t

[2021-06-23 13:12] SemoTech commented on #293
Additional info: I reached out to Meross Support and they said that this may be due to how the plugin is identifying the MSS510 chipset. This likely means there should be a way to fix this in the plugin, as it's working just fine with the MSS550  models.

[2021-07-01 21:56] CocoaBob commented on #285
I was the author who added the support of MSG100, but now I can't make it work either...

My firmware version is 3.2.3, hardware version is 3.5.0.

I'm afraid Meross has eventually figured out a way to reject the same payload from the same IP address to avoid hacking, that's why we get `socket hang up` error in Homebridge console, which means the connection is terminated by server (in our case, it

[2021-07-02 00:32] CocoaBob commented on #285
Possible solutions in my mind:
1. I think the firmware has a local database to store the recent `messageId & timestamp & sign` per `IP address`, due to the limited space on the device, there must be a limit number of records. Maybe the list is limited to 100 records, or 1000 records. So if we prepare 1000 pairs of `messageId & timestamp & sign`, and use them one by one, it might work. At least whi

[2021-07-03 08:09] Frankdoc commented on #285
Got the same issue when updating to 3.2.3. Already regret updating :(
And just after the amazon prime deals, could've bought  the homekit version :(

Hope it can be fixed

[2021-07-03 16:27] ckuai commented on #285
I know, but the Refoss version of the same MSG100 HK is having 20% off coupon on Amazon. $40 OTD pricing not too bad.

[2021-07-04 08:56] Frankdoc commented on #285
I contacted Meross and they said
1) they can downgrade the firmware from their backend for my account, so I asked them to downgrade it by 1 version
2) they were willing to offer a 20% discount for the Homekit version.

will await the downgrade and report back.

[2021-07-04 16:03] ckuai commented on #285
Nice, let us know how the downgrade works. such as does it has the available update shows and you just avoid to update again? or your account is blacklisted for any future upgrade? Thanks.

BTW, seems the Refoss HK version sold out on amazon already. not sure if it is related to this issue.

[2021-07-05 00:49] mrpoune commented on #285
Same here. Just did the firmware upgrade. Dammit!

Please let us know soon how it goes after the downgrade. Was Meross support quick to respond? Did you use the chat option?

Thanks in advance.

[2021-07-05 08:25] Frankdoc commented on #285
@CocoaBob
@mrpoune
@JohannesPl

Meross  support replied after +- 10 hours and downgraded me remotely to 3.2.2
After a few minutes it immediately started working again in Homebridge ( without doing any changes).

So easiest option might be just to contact Meross and ask them to downgrade you to 3.2.2.
I used the support form on their website using my meross account username

[2021-07-05 16:44] ckuai commented on #285
Do you still have the 3.2.3 upgrade available show in the app? or your MSG100 will not get upgrade ever?

Thanks, emailed support@meross.com for this.

[2021-07-05 20:01] Frankdoc commented on #285
No it's showing 'update available', so if I want I could update again.

[2021-07-07 07:30] ckuai commented on #285
Hi, I also contacted Meross support and got downgraded to 3.2.1 but I am still having issue.
[code]
which homebridge-meross plugin version you are on? I was on 2021 Feb 3.5.0 version but updated to latest 5.0.3 due to this issue. I also tried to downgrade to 3.5.0 plugin, but the issue remain the same. Not sure if I should ask to down grade to 3.2.2 instead. but 3.2.1 should work too.

[2021-07-07 09:38] Jackstone188 opened #294 "Meross PlugIn Fehlerhaft"
**Describe Your Problem:**
HomeKit zeigt das Garagentor immer als gerade öffnend oder schließend an, wenn das Tor mit der Originalen Fernbedienung auf oder zu gemacht wird.

In Hoobs wird das Tor Icon als jeweils geschlossen oder geöffnet richtigerweise angezeigt. Nur in Apple HOMEKIT bleibt das Icon als „wird geöffnet“ oder „wird geschlossen“ angezeigt. In der Meross App wird es auch richtig als

[2021-07-07 09:38] #294 closed, assigned to nobody

[2021-07-07 09:39] Jackstone188 commented on #294
Hilfe…..

[2021-07-08 12:30] Frankdoc commented on #285
FW 3.2.2 Meross
HB plugin 3.5.0 ( also had issues with the v5 release, so I went back). Your config file is Ok since version 5 is different?

[2021-07-08 14:58] ituri commented on #285
FYI, I experienced all the problems above and asked support to downgrade me to 3.2.2 which they did after a while. Interestingly enough, they also wrote this in their reply:

I asked them about the salt. If they actually provide this information (waiting for their reply right now), maybe there's a chance for us to get it working again with the latest firmware.

[2021-07-08 16:42] CocoaBob commented on #285
@ituri Wow, thanks for your information! The `salt` thing was my guess, actually we need to know the entire algorithm/way to generate the `sign`. The process might look like this

[INPUT]
- `messageId`: a random 128bit uuid
- `timestamp`: current timestamp
- `salt`: maybe it's there, maybe not

[CALCULATION]
- Join the above inputs in a certain way, e.g. `messageId`+`timestamp`+`salt`, or `salt`+`

[2021-07-10 07:55] ituri commented on #285
So I received an answer to my question:

There was actually an update to the iOS app tonight, which might also include the new firmware support is talking about. Anyone brave enough to try the new update? 😊

[2021-07-10 13:45] CocoaBob commented on #285
That's why our plugin stops working, if they are going to fix it on all products, then our entire Meross plugin will stop working 🤦‍♂️

[2021-07-13 18:12] GazzaPr opened #297 "Plug-in is sending RGB code to MSL100"
**Describe The Bug:**

Whilst there is no requirement for an RGB setting with the MSL100 the plugin is trying to send a code and in Hoobs V4 there is a widget to select the colour present

**To Reproduce:**

Just add the MSL to the Plug-in

**Expected behavior:**

No requirement for RGB selection just for dimming and on/off

**Logs:**

[log.txt](https://github.com/homebridge-plugins/homebridge-mer

[2021-07-13 22:02] NexGen-3D-Printing commented on #285
Just an FYI, I have the Homekit version of the MSG100, it has the latest software version 4.1.14 and hardware version 4.0.0 which is the latest and works great with this plugin.

And for those that are thinking that you don't need this plugin with the Homekit version, you are wrong, as Apple or Meross have taken away any real usability of the device, it functions much better through Homebribge.

N

[2021-07-15 05:06] admoseremic opened #303 "Need Support for MSG100 Garage Door Opener"
**Is your feature request related to a problem? Please describe.**

I've tried to connect my Meross MSG100 garage door opener to Homebridge, but I can't seem to get it working with this plugin or with the other Homebridge plugins.

**Describe the solution you'd like**

Please add support for the MSG100 garage door opener.

**Describe alternatives you've considered**

I've tried the other "homebrid

[2021-07-18 14:57] bizzle12368239 commented on #285
Same issue. Definitely the firmware update causing it. I have asked Meross to downgrade my firmware, hopefully they do it like they've done for a few others.

Edit: they answered within the day and downgraded me. Now it works again. Happy to upgrade the firmware in the future if we think it is possible to get it working with home bridge.

[2021-07-18 15:56] admoseremic commented on #285
I asked Meross to downgrade my firmware to 3.2.2 and it worked for me.

[2021-07-19 00:53] ShaunRoberts543 commented on #293
I am seeing the same issue on the 510 switch as well.

[2021-07-19 13:37] charlieschmidt commented on #285
Another voice/datapoint on this, for the time being - I asked them to downgrade my two devices - they took maybe 48hrs to do it and everything was back to normal.

As I told them - holy shit that's some great service.  "Here, let us support you do this unsupported thing that we sell another device for anyway."

[2021-07-21 06:31] mag2007 commented on #285
So I contacted them too, after I upgraded my opener. They downgraded it the next days, so I am back on version 3.2.2 and HB Plugin version 3.5.0. But still facing issue with:
`Failed to POST to the Meross Device MSG100 at 192.160.68.109: Error: connect ETIMEDOUT 192.160.68.109:80
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1148:16) {
  errno: -110,
  code: 'ETIMEDOUT',
  syscall: 'c

[2021-07-21 09:29] bizzle12368239 commented on #285
Yes HTTP catcher works fine even on ios 15 beta, so best to start from
scratch and set it up again.

On Wed, 21 Jul 2021 at 07:31, Wladislaw ***@***.***> wrote:

[2021-07-21 10:15] mag2007 commented on #285
Can you provide full config of your setup? What is missing here? HB Plugin version 3.5.0.

[code]

[2021-07-24 14:45] Frankdoc commented on #285
When downgraded: did you also notice that google home isn't working anymore? When I tap the garage door it doesn't let me do anything. Previously I could open/close or ask google assistant to open/close garage door

[2021-07-24 22:18] CocoaBob commented on #285
💡🤫🤐

[2021-07-24 22:18] #285 closed

[2021-07-25 14:05] bwp91 opened #300 "🎚 Supported Devices"
The list of supported devices has moved to the wiki.

If you have a device to add to the list please comment on this thread!

[2021-07-25 19:39] sdast9 opened #302 "MSG100 Support Discussion"
Thanks for the project. Would love support for the msg100.

[2021-07-25 20:14] dennis1893 commented on #26
Translate with google:

HI!!

When I start HTTP Catcher and open my garage, I get several / config application / json entries

How do I find the correct entry for "messageID" "timestamp" and "sign"

There are different entries with:

namespace: Appliance.System.Online

with another

namespace: Appliance.Digest.TimerX

namespace: Appliance.Digest.TriggerX

Which one is the right one

Thanks

[2021-07-25 20:40] donavanbecker commented on #302
@sdast9 Check out [homebridge-meross](https://github.com/bwp91/homebridge-meross/issues/300). @bwp91 has taken over is combining the two plugins into one.

[2021-07-25 21:50] sdast9 commented on #302
Sure. Happy to help. Do you have a Twitter where I can DM you my email?

[2021-07-25 21:55] CocoaBob commented on #302
@sdast9 Let's wait for @donavanbecker 's response, because he was the author of plugin **homebridge-meross**, and I added the support for MSG100 in that plugin. That support stopped working weeks ago if firmware 3.2.3 is installed, I eventually got some time yesterday to fix it, but seems I didn't really need to spend that 10 hours 😅 they already figured it out and are working on the re-designed p

[2021-07-25 22:18] bwp91 commented on #302
Hey.

I have taken over both `homebridge-meross` and `homebridge-meross-cloud` and have spent quite a lot of time over the last couple of days trying to combine them into one plugin.

@CocoaBob you work was not in vain -- I looked at the changes in your pull request and factored them into the v6 beta, it was some nice changes about not needing `messageId`, `timestamp` and `sign`.

My main focus on

[2021-07-25 23:00] bwp91 commented on #302
@CocoaBob

Happy to communicate on the homebridge discord if you’re on there?

If you’ve installed the beta can you let me know which cloud and local device models are working or not as it would be useful to form a list.

@sdast9

Seems like the MSG100 has been requested a few times so once the new version of the plugin is stable i can look into this!

[2021-07-25 23:13] bwp91 commented on #302
This new method is already used in the v6 beta - you can put your user key in the config (the field is in optional settings below username/password  and use the “serial number” field to enter the uuid in the “local devices” section

[2021-07-26 00:18] rcoletti116 commented on #300
MSS630 working with local. Didn’t test cloud.

[2021-07-26 00:24] CocoaBob commented on #300
About MSG100, I didn't check the source code, just please make sure when **messageId, timestamp, sign** are empty, the plugin should still consider it's a valid settings.

Now after configuring the key and uuid (serial number), after relaunching Homebridge, I got this error
[code]
Then I go to HomeKit, when I tap the garage door in HomeKit, another error appears
[code]

Ok, just checked a little b

[2021-07-26 00:59] CocoaBob commented on #300
Seems nothing happens if I tap `ADD CLOUD DEVICE SETTINGS` or click on the textfields (can't choose or write anything)

![image](https://user-images.githubusercontent.com/489666/126919699-18f41740-f2b2-4cab-8684-5ebf28363fd3.png)

[2021-07-26 04:44] donavanbecker commented on #300
@CocoaBob do you have a key or both your username and password filed in for your account? if you don't then it won't let you add cloud settings.

[2021-07-26 12:19] CocoaBob commented on #300
@donavanbecker  Hello, long time no see! I only added my key
![image](https://user-images.githubusercontent.com/489666/126987443-4df3aa9a-58fb-405f-a1eb-6a542c6b06ce.png)

[2021-07-26 12:29] CocoaBob commented on #300
OK, I see what you meant, I need the username and password 😅 I think the UX could be optimized.

[2021-07-26 14:32] SemoTech commented on #293
I believe you meant to say the 550.

There is definitely a bug as the plugin is sending erroneous info to HomeKit.
Is there a fix???

[2021-07-26 14:41] donavanbecker commented on #293
check out [v6 Beta](https://github.com/bwp91/homebridge-meross/issues/300)!

[2021-07-26 17:08] app-ch opened #301 "meross MSG100 is currently not supportet - homebridge-meross v6.0.0-beta.4"
homebridge-meross v6.0.0-beta.4

in the log file of homebridge i received the following message:
[Garage] is currently not supported, do create a github issue https://git.io/JtfVC with info:
with info:
{
  uuid: '21031902xxxxxxxxxxxxxxxxxxxxxxxxxxx',
  onlineStatus: 1,
  devName: 'Garage',
  devIconId: 'device039_un',
  bindTime: 1627297448,
  deviceType: 'MSG100',
  subType: 'us',
  channels: [Ar

[2021-07-26 17:37] CocoaBob commented on #300
@donavanbecker Just tried username and password, I have 2 MSG100, one supports HomeKit, one doesn't.
Here are the errors I got from Homebridge logs.
[code]
[code]

And here's my configuration
![image](https://user-images.githubusercontent.com/489666/127033485-84857e09-7dfa-4c3a-a25a-e01089a88352.png)

[2021-07-26 22:07] bwp91 commented on #300
The MSG100 isn't supported via the cloud yet.

Please update to the new beta.5, (the config layout has changed again), in the Device Settings section for your garage device, set the 'Connection' to 'Local'.

[2021-07-27 05:58] app-ch commented on #300
with option local in the new beta the device seems not supported.

[7/27/2021, 5:57:25 AM] [Meross] [Garage] is currently not supported, do create a github issue https://git.io/JtfVC with info:
{"name":"Garage","serialNumber":"2103xxxxxxxxxxxxx","connection":"local","model":"MSG100","deviceUrl":"192.168.xxx.xxx","garageDoorOpeningTime":15,"uuid":"2103xxxxxxxxxxxxx","deviceType":"MSG100","devName":

[2021-07-27 06:51] bwp91 commented on #300
@app-ch

Please try beta.7

It's an attempt to copy the protocol used for local control.

If something isn't working, please make sure plugin debug logging is ON and reply with logs if appropriate.

Thanks

[2021-07-27 06:58] bwp91 commented on #303
Please try the latest beta of homebridge-meross plugin. If you’re still using homebridge-meross-cloud then you’ll need to switch over.

[2021-07-27 06:59] bwp91 commented on #302
@sdast9

Please try the latest beta of homebridge-meross plugin. If you’re still using homebridge-meross-cloud then you’ll need to switch over.

[2021-07-27 07:44] app-ch commented on #300
In Beta 7 it is now working fine!

[2021-07-27 07:47] bwp91 commented on #300
Fab.

Can you do me a favour - control the garage from the meross app, and in the logs should appear a message like:

[code]

Can you find these lines and post them here?

[2021-07-27 07:59] app-ch commented on #300
i can not find the given message in the logs.
my device is running with the local option.
![image](https://user-images.githubusercontent.com/87996039/127118120-6c01bffb-0708-42c4-85a5-45cf0310c44c.png)

[2021-07-27 08:36] bwp91 commented on #300
@app-ch ah no worries i assumed you were using cloud control 👍🏻

[2021-07-27 13:59] sdast9 commented on #302
Progress... but it had my garage as "open" in homekit when it was not. When I tried opening it within homekit, I got the following error:

[7/27/2021, 9:55:01 AM] [Meross] [Steve’s Garage Door Opener] initialised with id [2009112225282836100748e1e9330c79] [cloud].
[7/27/2021, 9:55:01 AM] [Meross] ✓ Setup complete.
[7/27/2021, 9:55:28 AM] [homebridge-meross] This plugin threw an error from the char

[2021-07-27 14:54] bwp91 commented on #302
@sdast9 please try beta.9 just pushed!

[2021-07-27 15:10] sdast9 commented on #302
More progress... again, it doesn't identify the state of the door correctly (i.e. open or closed). However, I was able to get the door to open and close within homekit! Upon opening and closing, homekit stays in a constant opening/closing state with the swirling star in the upper righthand corner of the icon for the device. It never gets to a point that shows the door as closed or open. In additio

[2021-07-27 15:24] bwp91 commented on #302
Sounds like the issue is with the polling. The background process which checks for status updates, the goal is to implement and fix everything you have mentioned.

Do you have any warnings (yellow text) in the logs from the garage device polling in the background?

Have you configured a custom cloud polling rate or using the default?

Also for good measure, use the plugin ui to configure a “garage

[2021-07-27 15:41] sdast9 commented on #302
I was using default settings. This was when my wife opened and closed the garage door within the meross app, not homekit.

[7/27/2021, 11:05:22 AM] [Meross] [Sarah’s Garage Door Opener] real-time garage cloud updates not supported.
[7/27/2021, 11:05:22 AM] [Meross] [Sarah’s Garage Door Opener] please post the below message in a github issue.
[7/27/2021, 11:05:22 AM] [Meross] [Sarah’s Garage Door O

[2021-07-27 15:58] bwp91 commented on #302
@sdast9

Actually I think the issue here is because for cloud devices the default polling is every 5 minutes. Hadn’t thought of this. It would seem extreme to reduce this to a much lower value just to check for status, when in real life it probably opens/closes a small number of times a day.

This is a good opportunity for me to implement the real-time status updates for garages.

I’ll get back to

[2021-07-27 16:06] bwp91 commented on #302
@sdast9 can you try beta 10?

[2021-07-27 16:22] Conanap commented on #282
I would like to reopen this issue if possible - it seems like if the garage was opening and someone interrupts with the physical button, the status gets stuck as opening. I would recommend a status check to see if it is closed every 15 seconds or something like that while opening to ensure no one has interrupted with the physical button.

[2021-07-27 16:23] sdast9 commented on #302
Even closer now... No yellow status updates, so I guess that is good. Homekit initially was out of phase with the garage door (i.e. it said it was open when it was closed). I had to tell it to close and then open for them to be in sync. Once I did, i opened the garage door in homekit and the state read "open" immediately instead of "opening". The close phase worked flawlessly. It said it was closi

[2021-07-27 16:32] bwp91 commented on #302
It would help to see a full cycle of logs, I mean:
With the garage door closed, **with plugin debug ON** so I can see the initial polling data, restart the plugin, then open the door, and close it once opened (both by homekit). Then open the door again via meross app and close again via meross app.
If this is possible? Your neighbours will think you've gone a bit crazy 😆

[2021-07-27 16:42] christiantschoerner commented on #282
Can confirm the issue is still there. Removing `"garageDoorOpeningTime": 10` did not help long term.

[2021-07-27 16:43] bwp91 commented on #305
v6 beta of this plugin is available to try. i'm not sure whether the MSS210N works with the beta, could someone with this device try?

If you update, please read [changelog](https://github.com/bwp91/homebridge-meross/blob/latest/CHANGELOG.md) as there are some config changes, probably easiest to use the homebridge plugin settings screen to redo the config needed

[2021-07-27 16:44] bwp91 commented on #282
Once I get the garage door implementation working well (both local and cloud modes) then I will look into this :)

[2021-07-27 16:46] sdast9 commented on #302
LOL. They already think that. Ok, I did everything (I think), but I cannot find the location of the log file. Any suggestions?

[2021-07-27 16:47] bwp91 commented on #301
Closing this issue as duplicate of #302

[2021-07-27 16:47] #301 closed, assigned to nobody

[2021-07-27 16:48] bwp91 commented on #303
Closing this as duplicate of #302

[2021-07-27 16:48] #303 closed, assigned to nobody

[2021-07-27 16:48] CocoaBob commented on #302
The logic I wrote for the previous version needs to be optimized, but I don't think it's possible to reflect the real status of the door (especially for `opening` or `closing` statuses), because the only thing we are sure is the `closed` status.
We can guess it's `open` if it isn't `closed` for more than the duration of `garage door open/close time` , but it's really hard to guess if it's `opening

[2021-07-27 16:49] rcoletti116 commented on #300
beta ~~9~~ 10. MSL 120 not working locally (also not working w/ Cloud). Turns on and off, but color and white temperatures won't change. Device often goes unresponsive. Only error is:

[27/07/2021, 12:48:58] [Meross] [Bulb1] failed to refresh status as Cannot read property 'rgb2hs' of undefined at deviceLightbulb.requestUpdate (/usr/local/lib/node_modules/homebridge-meross/lib/device/lightbulb.js:

[2021-07-27 16:51] sdast9 commented on #302
Agreed. It looks like the meross app just switches the status fron opening to open after a specific time.

[2021-07-27 16:52] CocoaBob commented on #302
Yes, that's a setting in the Meross app, and I added the same setting in the plugin to estimate the `open` status better.

[2021-07-27 16:56] bwp91 commented on #302
You can copy and paste from the homebridge UI?

On a default setup, log file is at `/var/lib/homebridge/homebridge.log`

[2021-07-27 16:58] bwp91 commented on #300
Thanks, this should be fixed in beta 11

[2021-07-27 17:04] sdast9 commented on #302
Sorry. Power outage... bad timing.

[2021-07-27 17:04] bwp91 commented on #302
Judging the status when closing is easier because the plugin in effect can wait for the 'closed' notification from meross.

Judging the status when opening is harder because as was mentioned before, the two states that meross offer are 'closed' and 'not closed'.

So the custom operation time is more useful in this case, to update the status from 'opening' to 'open' after the operation time has ela

[2021-07-27 17:10] CocoaBob commented on #302
Even for Meross, they can't know the status, they can only guess, since we only have one sensor to detect it's `closed` or not.

I think we could do it better than Meross by adding 2 new settings, that was really my planning to optimize the logic, but I don't really have the time:
1. If we interrupt the door while `closing`, what's the expected behaviour? (In my house, it changes to `opening` righ

[2021-07-27 17:11] rcoletti116 commented on #300
Thanks. Looks like colors work now, but White Temperatures do not.

If it will help, here are the payloads using HTTP Catcher for request for White and Color.
**White:**
`payload": {
    "light": {
      "rgb": -1,
      "capacity": 6,
      "channel": 0,
      "temperature": 88,
      "luminance": 100,
      "transform": -1
    }`

**Color**
`payload": {
    "light": {
      "rgb": 3080447,

[2021-07-27 17:15] sdast9 commented on #302
Power is back but computers are rebooting. I was able to confirm that it is a timing thing for opening in meross. I opened within meross and then manually stopped it halfway. The meross app continued to say "opening" and then switched to "open" after some time. Also, it I manually open the door, the app immediately switched to "open". It does not say "opening".

[2021-07-27 17:16] sdast9 commented on #302
I guess I was expecting something different than what was already

[7/27/2021, 12:40:20 PM] [Meross] [Sarah’s Garage Door Opener] initialised with id [2009115750695736100748e1e9330662] [cloud].
[7/27/2021, 12:40:20 PM] [Meross] [Steve’s Garage Door Opener] initialised with id [2009112225282836100748e1e9330c79] [cloud].
[7/27/2021, 12:40:20 PM] [Meross] ✓ Setup complete.
[7/27/2021, 12:40:21 PM] [H

[2021-07-27 17:18] sdast9 commented on #302
the latter was from before the power outage (opening and closing in homekit and then opening and closing in meross).

[2021-07-27 17:19] bwp91 commented on #302
I don't think you have plugin debug mode on. In the plugin settings in the 'optional settings' part there is a debug setting

[2021-07-27 17:25] bwp91 commented on #300
Thanks, I think this should help, can you try beta 12?

[2021-07-27 17:28] sdast9 commented on #302
I see. I was putting homebridge in debug mode, didn't realize I needed to do it for the plugin. Here is the output. Note: I first opened and closed with meross and then with homkit.

[code]

[2021-07-27 17:46] rcoletti116 commented on #300
still not quite there. It seems to have trouble switching between white and RGB values.
In debug I see RGB values actually sent when I request white.

`"online":{"status":1}},"digest":{"togglex":[{"channel":0,"onoff":1,"lmTime":1627407674}],"triggerx":[],"timerx":[],"light":{"capacity":5,"channel":0,"rgb":16777215,"temperature":73,"luminance":100,"transform":-1}}}}}.**
[27/07/2021, 13:43:53] [Mero

[2021-07-27 17:53] bwp91 commented on #302
Could you do me another favour, and put the device into local mode by changing 'connection' to local in the plugin settings and supplying the device IP? And do the same open and close procedure whilst it's in local mode?

[2021-07-27 18:06] bwp91 commented on #300
I've just released beta 13 with a few more checks for the lightbulb.

This data you have posted
[code]

Looks like an incoming update from meross, where it expresses an rgb value **and** a temperature value which I think is confusing the plugin.

There are two things to concentrate on here;

1. controlling through homekit, does it work ie does the device update to reflect what was commanded
2. con

[2021-07-27 18:07] rcoletti116 commented on #300
I'm not controlling outside of HomeKit. Those log lines were generated specifically when I used HomeKit.

[2021-07-27 18:11] bwp91 commented on #300
It must have come from polling then, the payload for sending device updates does not include the `"online":{"status":1}}`.

In the last couple of betas I have tried to mimic the payloads you provided earlier from http catcher.

Will get this sorted in the end!

[2021-07-27 18:25] rcoletti116 commented on #300
ok, same results on beta 13. To answer the above questions.

1. No, only when the bulb is on color. Changing between color and white causes issues.
2. Home does reflect the right color or temperature if I change it from Meross app.

Regarding what you pointed out about the poll, what's interesting is when it is white, the RGB value is actually the last known color RGB value rather than the -1.

[2021-07-27 18:49] bwp91 commented on #302
The payloads between cloud and local mode normally match for devices. However the payloads you have posted for the garage in cloud mode do not match how the plugin checks for local payloads. If that makes sense. I would like to see the logging for local mode to see the difference (if exists) between the payloads for cloud mode and for local mode.

[2021-07-27 18:58] sdast9 commented on #302
Sorry- in a meeting. Will test this in a bit.

[2021-07-27 19:52] sdast9 commented on #302
Not sure I got everything that you needed. I did one open and close through homekit and one through meross. Local seems to work flawlessly for what that is worth to you.
[homebridgelog.txt](https://github.com/bwp91/homebridge-meross/files/6888325/homebridgelog.txt)

[2021-07-27 20:02] bwp91 commented on #302
@sdast9 could you now update to 6.0.0-beta.16, go back to using cloud connection for one of the garages, and get me the data for the initial poll that happens when the device initialises?

You are helping me out a lot here so thank you, sorry if it feels like we are going in circles

[2021-07-27 20:04] bwp91 commented on #302
initial poll will look something like this:

[code]

[2021-07-27 20:43] Lui5Jacint0 opened #307 "MSG-100 status not working properly on Homekit"
### What issue do you have? Please be as thorough and explicit as possible.

I have a Meross MSG-100 door opener that pushes the notifications “door closed” and “door open” but in HomeKit the status freezes at “closing” and “opening” cards.
On homebridge log states “Door closed”

### Details of your setup.
*Homebridge UI-X

* Which version of Homebridge do you have?
* homebridge-config-ui-x 4.41.1

[2021-07-27 20:54] sdast9 commented on #302
[code]

[2021-07-27 20:56] sdast9 commented on #302
No worries. Happy to help. I appreciate you doing all of the troubleshooting and coding.

[2021-07-27 22:18] bwp91 commented on #302
Can anyone try beta 17 with the garage?
Cloud or local, shouldn't matter which protocol.

[2021-07-27 22:28] bwp91 commented on #307
Hi @Lui5Jacint0

Please consider trying the beta version of the plugin, I have recently made some improvements to the garage to hopefully avoid this freezing on opening/closing state.

Be aware the beta version contains some configuration changes, especially if you have devices configured for local control. Please check the changelog.

[2021-07-27 22:37] sdast9 commented on #302
on cloud, we took a step backwards from a functionality standpoint.

7/27/2021, 6:33:52 PM] [Meross] [Sarah’s Garage Door Opener] initialised with id [2009115750695736100748e1e9330662] [cloud].
[7/27/2021, 6:33:52 PM] [Meross] [Steve’s Garage Door Opener] initialised with id [2009112225282836100748e1e9330c79] [cloud].
[7/27/2021, 6:33:52 PM] [Meross] ✓ Setup complete.
[7/27/2021, 6:33:53 PM] [Mero

[2021-07-27 22:40] sdast9 commented on #302
homekit fails to open the door and almost immediately goes form a state of opening to closing and hangs. No movement from the door and never says closed.

[2021-07-27 22:44] bwp91 commented on #302
6.0.0-beta.19 any better? two steps forward and one step back!

[2021-07-27 22:52] sdast9 commented on #302
So close!!! opening was great. it changed from opening to open appropriately.  Closing closed the door but homekit never changed from closing to closed like it was doing nicely before.

[code]

[2021-07-27 23:01] sdast9 commented on #302
Lol! It eventually did change to closed after I tried opening/closing again. Again, opening worked perfectly, but when closing it had the wrong state (open) for the longest time and then switched to close after about 10 minutes or so. The door responded immediately though.

[2021-07-27 23:06] bwp91 commented on #302
And better with 6.0.0-beta.20?

[2021-07-27 23:07] sdast9 commented on #302
Will test in 20 minutes

[2021-07-27 23:08] theplanekid commented on #307
I believe I’m facing a similar issue on the MSG-100:

Homekit reports opening, open, and closing, but not closed.
Homebridge log does the same.

Also getting
`[27/07/2021, 16:05:14] [(Meross] [Garage Door L] failed to refresh status as Canno
tread property
"digest
of undefined at deviceGarage.externalUpdate(/usr/local/
lib/node modules/homebridge-meross/lib/device/garage.js:381:33). `
after every

[2021-07-27 23:09] bwp91 commented on #307
@theplanekid can you try beta.20?

[2021-07-27 23:13] theplanekid commented on #307
on beta.20, log reports;
[code]

[2021-07-27 23:20] bwp91 commented on #307
and beta 22?

[2021-07-27 23:21] bwp91 commented on #307
getting there i think 🤣

[2021-07-27 23:21] sdast9 commented on #302
homekit still doesn't switched to closed. Door goes down but state remains on closing with spinning star. Note that my door finished closed put the log has the state as open at the end.

[7/27/2021, 7:16:31 PM] [Meross] [Sarah’s Garage Door Opener] initialised with id [2009115750695736100748e1e9330662] [cloud].
[7/27/2021, 7:16:31 PM] [Meross] [Steve’s Garage Door Opener] initialised with id [2009

[2021-07-27 23:22] CocoaBob commented on #302
In my old implementation, while it's closing, I check the status every 1 second to make sure the `closed` status can be shown immediately.

[2021-07-27 23:26] bwp91 commented on #302
@sdast9 i had released beta22 since!

[2021-07-27 23:27] theplanekid commented on #307
works great, tried it 3 times with no issues so far
i think it’s fixed!

[2021-07-27 23:31] sdast9 commented on #302
The 22nd time was the charm!!! Congrats. I will continue to test, but it passed all of my earlier tests. Nice work!

[2021-07-27 23:34] bwp91 commented on #302
@CocoaBob the way i have rewritten it for now:

when opened from homekit, if after the operation time the state is still opening then it will be updated to open

when closed from homekit, the plugin will mark as closing then wait for a “closed” notification before marking as closed. if after the operation time plus an extra 15 seconds the garage is still “closing” then the garage will then be mark

[2021-07-28 04:41] mike43 commented on #307
Agreed! I've come late to the thread tired of HAP dropouts for a pair of MSG100's I've been trying to stabilise for months. Only just installed and configured in local mode. Both working well so far.

I'm running HOOBS 4.0.96 (RPI 4B) and plugin v6.0.0-beta.22 | Node v14.17.2 | HB v1.3.4.

I've had issues with false positives for "obstruction detection" in the past so keen to see if this resolves

[2021-07-28 06:19] bwp91 commented on #307
This _should_ be fixed in the newest beta (22).
I’ll copy what I wrote in the other issue thread:

when opened from homekit, if after the operation time the state is still opening then it will be updated to open

when closed from homekit, the plugin will mark as closing then wait for a “closed” notification from meross before marking as closed. due to security i think this is important. if after t

[2021-07-28 06:24] bwp91 commented on #307
Also to note, if the garage is controlled via meross app or a physical button, the plugin will no longer use opening/closed status, will simply mark as open or closed.

Also, obstruction detection is now unused as it is impossible for the plugin to truly determine this.

The beta is there for anyone to try!

[2021-07-28 06:38] bwp91 commented on #306
I can look into supporting this device in the next version of the plugin.

Is this still a keen request?

[2021-07-28 06:44] bwp91 commented on #77
I can look into supporting this device in the next version of the plugin.

@stan69b is your fork still working for this? For the payload,

[code]

For the position property I see earlier you wrote '100 top, 0 bottom, -1 stop.'

Is it possible to send any value between 0 and 100 to specify an exact %-point?

[2021-07-28 06:45] rgoggy commented on #306
Yes. Still hoping to have it on HomeKit working

[2021-07-28 06:46] bwp91 commented on #304
It would be useful to know if this bug(?) still exists in the new beta of the plugin (v6).

If you do try the beta, please review the change log as some things have changed with regards to local connection mode.

Thanks

[2021-07-28 06:46] bwp91 commented on #297
It would be useful to know if this bug(?) still exists in the new beta of the plugin (v6).

If you do try the beta, please review the change log as some things have changed with regards to local connection mode and the configuration.

Thanks

[2021-07-28 06:48] bwp91 commented on #282
This should be fixed in the newest beta (22).
I’ll copy what I wrote in the other issue thread:

when opened from homekit, if after the operation time the state is still opening then it will be updated to open

when closed from homekit, the plugin will mark as closing then wait for a “closed” notification from meross before marking as closed. due to security i think this is important. if after the

[2021-07-28 06:49] bwp91 commented on #293
It would be useful to know if this bug(?) still exists in the new beta of the plugin (v6).

If you do try the beta, please review the change log as some things have changed with regards to local connection mode and the configuration.

Thanks

[2021-07-28 06:49] stan69b commented on #306
Yes, still interested in this feature 😁 thank you.

[2021-07-28 06:52] Conanap commented on #282
This sounds great, thanks. I'll verify the solution over the next few days and close the issue when I can verify it.

[2021-07-28 06:52] AN1MATEK commented on #306
Very much yes. Thank you.

[2021-07-28 07:17] bwp91 commented on #306
Can someone update to v6.0.0-beta.23... and enter your meross credentials in the config as I need the MRS100 to work over **cloud** mode initially (local mode is then easy to implement once cloud is sorted).

It should add the MRS100 to homekit albeit at this state it will show as 'Not Supported'.

Then use the meross app to OPEN and CLOSE the door, hopefully some debugging info will appear in the

[2021-07-28 07:25] AN1MATEK commented on #306
Here you go. I did Close, Stop, and Open.

[code]

[2021-07-28 07:33] stan69b commented on #306
The shutter does not seem to support % based location. Eventhough a value between 0 and a 100 is returned, i think it only gives 0 or 100 nothing in between. The app asks for a timeout to trigger a stop. (I thought it would support the feature, i realized they do mention it does not on the spec of the device)  at least that is what I saw when working with this device over local network

[2021-07-28 07:36] bwp91 commented on #306
@stan69b I just saw on the meross website on this device page

**Can I control the opening and closing degree of the shades/curtain with this smart roller shutter?**
No, right now we only support Up / Down and Stop operations. Opening and closing degree control will be supported in near future.

So not sure if it is something they are planning, or whether this is still true at all!

[2021-07-28 07:40] bwp91 commented on #306
@facundo59 thanks for the logs, do you or @stan69b know what these state values map to in real terms?

I see there are three “states”, 0, 1 and 2. In your “close, stop, open” routine there seems to have been 4 states returned in this order:

2, 1, 0, 2

is anyone clear what these values map to in terms of open, stop, close?

[2021-07-28 07:41] stan69b commented on #306
That would explain why they do have a 0-100 value but not currently used. I do hope they add the feature soon 😁

[2021-07-28 08:01] AN1MATEK commented on #306
I can wildly assume that 2 is initial state, 1 is close, 0 is stop, and 2 open again (which was the initial state)

Does that makes sense?

[2021-07-28 08:04] stan69b commented on #306
I’m not currently near my machines, can’t be sure but @facundo59 ‘s comments seems to fit with what I can remember.

[2021-07-28 08:23] bwp91 commented on #306
Can someone try 6.0.0-beta.24?

It should show the accessory with 3 switches: Open, Close and Stop.

These buttons are **stateless** so they will not reflect what the device is actually doing. When a switch is turned on, it will command the device to perform this action, and the switch will turn off again after two seconds. Controlling by other means, like the meross app, will not be reflected in

[2021-07-28 08:24] bwp91 commented on #306
Btw, should be working over both cloud and local connections

[2021-07-28 08:34] AN1MATEK commented on #306
Tested. It's working.

`[28/07/2021, 10:33:15] [Meross] [Roller Shutter] sending update: {"payload":{"position":{"position":0,"channel":0}},"header":{"from":"http://192.168.178.62/config","messageId":"rwi9lo36qzhtq8xp","method":"SET","namespace":"Appliance.RollerShutter.Position","payloadVersion":1,"sign":"f007a4b8c43cf6a48b22018057bb45a5","timestamp":1627461195,"triggerSrc":"iOSLocal","uuid":"200

[2021-07-28 08:38] AN1MATEK commented on #306
Just noticed something here. My device is cabled in a way that physically looks ok, but logically up and down are inverted. So when I clicked open, it closes and viceversa. Would you be so kind to include a setting to fix this?

[2021-07-28 08:50] bwp91 commented on #306
Please try 6.0.0-beta.25. You will need to set the model to MRS-100 in the plugin settings for the 'Reverse Polarity' option to appear below.

Let me know if works

[2021-07-28 09:03] AN1MATEK commented on #306
Working like a charm. You are my hero.

`[28/07/2021, 11:01:14] [Meross] [Roller Shutter] sending update: {"payload":{"position":{"position":100,"channel":0}},"header":{"from":"http://192.168.178.62/config","messageId":"la592dwgm0g24026","method":"SET","namespace":"Appliance.RollerShutter.Position","payloadVersion":1,"sign":"80fe7cf1d01fd952efb57bd20db5756a","timestamp":1627462874,"triggerSrc":"iO

[2021-07-28 09:06] bwp91 commented on #306
Excellent :)

Could you do me a favour and let me know a list of all meross models you have and whether they are working with the beta version? I'm trying to form a list at https://github.com/bwp91/homebridge-meross/issues/300

[2021-07-28 09:11] bwp91 commented on #77
Closing this issue as conversation is in #306

[2021-07-28 09:11] #77 closed

[2021-07-28 09:44] AN1MATEK commented on #300
I have a MSS210 Plug and it's confirmed working with v6.0.0-beta.25.

`[28/07/2021, 11:43:58] [Meross] [test plug] sending mqtt: {"header":{"from":"/app/809344-bfcb1e8874172b27fe422b0eb8df9d08/subscribe","messageId":"5d0517887ce65a20ad86c8a3a05dec86","method":"SET","namespace":"Appliance.Control.ToggleX","payloadVersion":1,"sign":"45211c5040d6fac9eab796a678d16840","timestamp":1627465439},"payload"

[2021-07-28 10:12] bwp91 commented on #264
If this is still an issue i can look into a fix in beta version of this plugin

[2021-07-28 10:13] bwp91 commented on #292
Can you update to beta version of the plugin to see if this is still an issue?

[2021-07-28 10:13] bwp91 commented on #284
Can you update to beta version of the plugin to see if this still an issue?

[2021-07-28 10:14] bwp91 commented on #273
Can you update to beta version of the plugin to see if this is still an issue?

[2021-07-28 10:15] bwp91 commented on #267
Hi,

Can look into supporting this device in the beta version of the plugin if this is something that would interest you.

Thanks

[2021-07-28 10:54] maslcar commented on #267
Hi,

Sure this would be awesome, if you need any information about the device or me for testing just let me know and i will do.

Best regards.
Marcel

[2021-07-28 11:39] Lui5Jacint0 commented on #307
Working great thanks!

[2021-07-28 11:39] #307 closed, assigned to nobody

[2021-07-28 13:13] bwp91 commented on #306
Any chance someone can check this still works on beta 28?

I’m still reorganising a lot of the code so there’s a small chance i’ve created an issue somewhere without knowing.

thanks again!

[2021-07-28 13:15] bwp91 commented on #307
Could you just check garage is still working on beta 28? Thanks

[2021-07-28 13:58] AN1MATEK commented on #306
Still works. And thanks to YOU <3

`[28/07/2021, 15:56:12] [Meross] [Roller Shutter] sending update: {"header":{"from":"http://192.168.178.62/config","messageId":"aiveczmwlk1m3ncq","method":"SET","namespace":"Appliance.RollerShutter.Position","payloadVersion":1,"sign":"b2689f52e0aeab1e7aef1d8b951ab952","timestamp":1627480572,"triggerSrc":"iOSLocal","uuid":"2006098257521090815448e1e91e789e"},"paylo

[2021-07-28 14:18] rwbisme commented on #264
I’ll I have to take a look after reinstalling to see if it’s still in issue. Plug-in has been changed lately so it might be better

[2021-07-28 16:11] theplanekid commented on #307
beta.28, tested 3 times seems to be working fine

[2021-07-28 17:12] stan69b commented on #306
I'll try it out as soon as I can, Thank you  @bwp91  very much for the update and thank you @facundo59 for all your testing :)
Have a nice day

[2021-07-28 17:16] stan69b commented on #77
Hi @bwp91 , did not see your question this morning. I switched to HomeAssistant some time ago (because I needed MRS100 support, but turns out it is not supported on HomeAssistant either xD). I havent tested the horrible fork I made in a while. For educational purposes, did the position payload still works and has the fork helped you in any way ? (doesn't matter if it didn't, I would feel a little

[2021-07-28 17:19] bwp91 commented on #77
Yes! I wasn't fully sure of how the states related to open close and stop. so I used the info in your fork re the position namespace to help. I also think if and when meross allow for position based location, it will make it easier to update the code.
So yes your work was used!